In [79]:
import pandas as pd

df = pd.read_excel(
    './delivery/21년 7월_22년 6월 수도권제2본부-1.xlsx',
    sheet_name = 4, usecols = [0, 6, 8, 9, 12, 13, 18, 22, 23, 25, 26, 
    27, 29, 34, 35, 36, 37, 38, 39, 43])
df.head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
0,20210701,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 범박동 150-2,부천시 범박동 150-2,슈퍼히어로옥길범박,3500,350,0,300,21900,선불,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN
1,20210701,슈퍼히어로옥길범박,[히어로]59쌀피자,10,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,슈퍼히어로옥길범박,3500,0,0,300,26000,카드,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN
2,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 739-1,부천시 옥길동 739-1,슈퍼히어로옥길범박,3500,350,0,300,17000,선불,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN
3,20210701,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 소사본동 133-12,부천시 소사본동 133-12,부천 러쉬,4500,450,0,300,54000,선불,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN
4,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 780-1,부천시 옥길동 780-1,슈퍼히어로옥길범박,3500,350,0,300,24400,선불,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112249 entries, 0 to 112248
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   업무일자    112249 non-null  int64
 1   접수회사    112249 non-null  object
 2   상점      112249 non-null  object
 3   요청      112249 non-null  object
 4   도착지명    112237 non-null  object
 5   도착지주소   112239 non-null  object
 6   기사소속회사  110479 non-null  object
 7   배달요금    112249 non-null  int64
 8   부가세     112249 non-null  int64
 9   요금지원    112249 non-null  int64
 10  콜수수료    112249 non-null  int64
 11  상품금액    112249 non-null  int64
 12  결제방법    112249 non-null  object
 13  접수      111653 non-null  datetime64[ns]
 14  요청.1    108689 non-null  datetime64[ns]
 15  배차      110512 non-null  datetime64[ns]
 16  픽업      110093 non-null  datetime64[ns]
 17  완료      110118 non-null  datetime64[ns]
 18  취소      2160 non-null    datetime64[ns]
 19  취소사유    573 non-null     object
dtypes: datetime64[ns](6), int64(6), object(8)
memory usage: 17.1+ MB

In [30]:
df.isna().sum()

업무일자           0
접수회사           0
상점             0
요청             0
도착지명          12
도착지주소         10
기사소속회사      1770
배달요금           0
부가세            0
요금지원           0
콜수수료           0
상품금액           0
결제방법           0
접수           596
요청.1        3560
배차          1737
픽업          2156
완료          2131
취소        110089
취소사유      111676
dtype: int64

In [86]:
df[df['도착지명'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
3210,20210705,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,슈퍼히어로옥길범박,3500,350,0,400,10800,선불,2021-07-05 13:50:47,2021-07-05 13:50:53,2021-07-05 13:51:00,NaT,NaT,2021-07-05 13:56:43,NaN
9090,20210714,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,슈퍼히어로옥길범박,3500,350,0,300,10800,선불,2021-07-14 12:49:31,2021-07-14 13:07:34,2021-07-14 13:07:36,NaT,NaT,2021-07-14 13:08:52,NaN
38049,20210824,슈퍼히어로옥길범박,[히어로]스시젠,10,NaN,못찾음,NaN,4000,400,0,0,17000,선불,2021-08-24 12:47:33,NaT,NaT,NaT,NaT,2021-08-24 12:49:45,NaN
41180,20210829,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,NaN,3500,350,0,0,16800,선불,2021-08-29 15:08:35,2021-08-29 15:09:09,NaT,NaT,NaT,2021-08-29 15:10:03,NaN
48201,20210910,슈퍼히어로옥길범박,[히어로]스시젠,20,NaN,못찾음,NaN,3500,350,0,0,16000,선불,2021-09-10 17:35:23,NaT,NaT,NaT,NaT,2021-09-10 17:38:42,NaN

In [87]:
df[df['도착지주소'] == '못찾음'].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
3210,20210705,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,슈퍼히어로옥길범박,3500,350,0,400,10800,선불,2021-07-05 13:50:47,2021-07-05 13:50:53,2021-07-05 13:51:00,NaT,NaT,2021-07-05 13:56:43,NaN
9090,20210714,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,슈퍼히어로옥길범박,3500,350,0,300,10800,선불,2021-07-14 12:49:31,2021-07-14 13:07:34,2021-07-14 13:07:36,NaT,NaT,2021-07-14 13:08:52,NaN
38049,20210824,슈퍼히어로옥길범박,[히어로]스시젠,10,NaN,못찾음,NaN,4000,400,0,0,17000,선불,2021-08-24 12:47:33,NaT,NaT,NaT,NaT,2021-08-24 12:49:45,NaN
41180,20210829,슈퍼히어로옥길범박,[히어로]프랭크버거옥길점,10,NaN,못찾음,NaN,3500,350,0,0,16800,선불,2021-08-29 15:08:35,2021-08-29 15:09:09,NaT,NaT,NaT,2021-08-29 15:10:03,NaN
48201,20210910,슈퍼히어로옥길범박,[히어로]스시젠,20,NaN,못찾음,NaN,3500,350,0,0,16000,선불,2021-09-10 17:35:23,NaT,NaT,NaT,NaT,2021-09-10 17:38:42,NaN

In [88]:
df[df['도착지주소'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
283,20210701,슈퍼히어로옥길범박,[히어로]최고당돈까스,10,센트리뷰,NaN,슈퍼히어로옥길범박,3000,300,0,300,20300,선불,2021-07-01 18:17:00,2021-07-01 18:17:06,2021-07-01 18:17:11,2021-07-01 18:28:26,2021-07-01 18:43:01,NaT,NaN
8169,20210713,슈퍼히어로옥길범박,[히어로]국제갈비,10,부천시 소사본돈 409-3 센트럴프라자,NaN,부천 러쉬,3000,300,0,300,31000,선불,2021-07-13 18:35:33,2021-07-13 18:35:44,2021-07-13 18:35:48,2021-07-13 18:45:03,2021-07-13 18:54:08,NaT,NaN
15292,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,NaT,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:06,NaN
15294,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,NaT,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:19,NaN
15297,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,2021-07-22 11:20:19,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:22,NaN

In [89]:
df[df['기사소속회사'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
517,20210701,슈퍼히어로옥길범박,[히어로]짬뽕지존,15,부천시 괴안동 91-8 402호,부천시 괴안동 91-8 402호,NaN,4500,450,0,0,21500,선불,2021-07-01 12:17:08,NaT,NaT,NaT,NaT,2021-07-01 12:19:37,NaN
530,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 12:07:51,NaT,NaT,NaT,NaT,2021-07-01 12:07:59,NaN
540,20210701,슈퍼히어로옥길범박,[히어로]본도시락,20,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 11:59:49,NaT,NaT,NaT,NaT,2021-07-01 12:01:43,NaN
545,20210701,슈퍼히어로옥길범박,[히어로]탭플레이커피,10,부천시 옥길동 780-1,부천시 옥길동 780-1,NaN,3500,350,0,0,12600,선불,2021-07-01 11:57:48,2021-07-01 12:08:21,NaT,NaT,NaT,2021-07-01 12:09:43,NaN

In [115]:
df[(df['기사소속회사'].isna()) & (df['취소'].isna()) & (df['완료'].isna())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [91]:
df[df['접수'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
2053,20210703,슈퍼히어로옥길범박,[히어로]옥길어시장,즉시,***,***********,NaN,5000,500,0,0,62000,선불,NaT,NaT,NaT,NaT,NaT,2021-07-03 12:32:26,NaN
4028,20210707,슈퍼히어로옥길범박,[히어로]홍콩반점0410부천옥길점,즉시,***,***********,NaN,3500,350,0,0,37600,선불,NaT,NaT,NaT,NaT,NaT,2021-07-07 19:54:03,NaN
6308,20210710,슈퍼히어로옥길범박,[히어로]홍콩반점0410부천옥길점,즉시,***,***********,NaN,4000,400,0,0,20900,선불,NaT,NaT,NaT,NaT,NaT,2021-07-10 16:03:55,NaN
6411,20210710,슈퍼히어로옥길범박,[히어로]탭플레이커피,즉시,***,***********,NaN,6500,650,0,0,10800,선불,NaT,NaT,NaT,NaT,NaT,2021-07-10 21:18:11,NaN
6940,20210711,슈퍼히어로옥길범박,[히어로]홍콩반점0410부천옥길점,즉시,***,***********,NaN,4000,400,0,0,22100,선불,NaT,NaT,NaT,NaT,NaT,2021-07-11 17:57:00,상점요청

In [114]:
df[(df['접수'].isna()) & (df['취소'].isna()) & (df['완료'].isna())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [93]:
df[df['요청.1'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
417,20210701,파리바게뜨,(파리)범박현대,즉시,***,***********,슈퍼히어로옥길범박,3400,0,0,300,25300,선불,2021-07-01 14:38:38,NaT,2021-07-01 14:43:06,2021-07-01 14:53:17,2021-07-01 14:58:47,NaT,NaN
457,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,옥길중,부천시 옥길동 740-1학교 옥길중,슈퍼히어로옥길범박,14000,1400,0,300,414200,카드,2021-07-01 13:10:16,NaT,2021-07-01 13:10:20,2021-07-01 13:10:25,2021-07-01 13:10:53,NaT,NaN
466,20210701,슈퍼히어로옥길범박,[히어로]스시젠,20,***,***********,슈퍼히어로옥길범박,3500,350,0,300,65500,카드,2021-07-01 13:01:29,NaT,2021-07-01 13:02:43,2021-07-01 13:28:54,2021-07-01 13:34:14,NaT,NaN
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
513,20210701,파리바게뜨,(파리)역곡역남부,즉시,***,***********,슈퍼히어로옥길범박,3400,0,0,300,17000,선불,2021-07-01 12:18:04,NaT,2021-07-01 13:02:08,2021-07-01 13:19:29,2021-07-01 13:27:34,NaT,NaN

In [94]:
df[df['도착지명'] == '***'].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
5,20210701,슈퍼히어로옥길범박,[히어로]크레이지떡볶이,10,***,***********,슈퍼히어로옥길범박,3500,350,0,300,16000,선불,2021-07-01 23:10:07,2021-07-01 23:10:14,2021-07-01 23:10:21,2021-07-01 23:25:02,2021-07-01 23:29:06,NaT,NaN
6,20210701,슈퍼히어로옥길범박,[히어로]대성등갈비,15,***,***********,부천 러쉬,4000,0,0,300,38000,선불,2021-07-01 23:04:53,2021-07-01 23:05:05,2021-07-01 23:05:07,2021-07-01 23:20:50,2021-07-01 23:26:29,NaT,NaN
11,20210701,슈퍼히어로옥길범박,[히어로]크레이지떡볶이,10,***,***********,슈퍼히어로옥길범박,5000,500,0,300,24900,선불,2021-07-01 22:46:56,2021-07-01 22:47:01,2021-07-01 22:47:05,2021-07-01 23:04:00,2021-07-01 23:06:29,NaT,NaN
12,20210701,슈퍼히어로옥길범박,[히어로]대성등갈비,15,***,***********,부천 러쉬,3500,0,0,300,39000,선불,2021-07-01 22:44:44,2021-07-01 22:45:00,2021-07-01 22:45:02,2021-07-01 22:59:19,2021-07-01 23:05:34,NaT,NaN
13,20210701,슈퍼히어로옥길범박,[히어로]곱분이곱창,10,***,***********,슈퍼히어로옥길범박,3500,350,0,300,23500,선불,2021-07-01 22:41:18,2021-07-01 22:42:00,2021-07-01 22:42:13,2021-07-01 22:50:06,2021-07-01 22:51:27,NaT,NaN

In [95]:
df[df['배차'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
517,20210701,슈퍼히어로옥길범박,[히어로]짬뽕지존,15,부천시 괴안동 91-8 402호,부천시 괴안동 91-8 402호,NaN,4500,450,0,0,21500,선불,2021-07-01 12:17:08,NaT,NaT,NaT,NaT,2021-07-01 12:19:37,NaN
530,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 12:07:51,NaT,NaT,NaT,NaT,2021-07-01 12:07:59,NaN
540,20210701,슈퍼히어로옥길범박,[히어로]본도시락,20,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 11:59:49,NaT,NaT,NaT,NaT,2021-07-01 12:01:43,NaN
545,20210701,슈퍼히어로옥길범박,[히어로]탭플레이커피,10,부천시 옥길동 780-1,부천시 옥길동 780-1,NaN,3500,350,0,0,12600,선불,2021-07-01 11:57:48,2021-07-01 12:08:21,NaT,NaT,NaT,2021-07-01 12:09:43,NaN

In [113]:
df[(df['배차'].isna()) & (df['취소'].isna()) & (df['완료'].isna())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [97]:
df[df['픽업'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
325,20210701,슈퍼히어로옥길범박,[히어로]스시젠,15,***,***********,슈퍼히어로옥길범박,3500,350,0,300,66500,선불,2021-07-01 17:44:07,2021-07-01 17:44:21,2021-07-01 17:44:23,NaT,NaT,2021-07-01 18:00:11,고객요청
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
517,20210701,슈퍼히어로옥길범박,[히어로]짬뽕지존,15,부천시 괴안동 91-8 402호,부천시 괴안동 91-8 402호,NaN,4500,450,0,0,21500,선불,2021-07-01 12:17:08,NaT,NaT,NaT,NaT,2021-07-01 12:19:37,NaN
530,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 12:07:51,NaT,NaT,NaT,NaT,2021-07-01 12:07:59,NaN
540,20210701,슈퍼히어로옥길범박,[히어로]본도시락,20,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 11:59:49,NaT,NaT,NaT,NaT,2021-07-01 12:01:43,NaN

In [99]:
df[(df['픽업'].isna()) & (df['취소'].isna()) & (df['완료'].isna())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [107]:
df[df['완료'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
325,20210701,슈퍼히어로옥길범박,[히어로]스시젠,15,***,***********,슈퍼히어로옥길범박,3500,350,0,300,66500,선불,2021-07-01 17:44:07,2021-07-01 17:44:21,2021-07-01 17:44:23,NaT,NaT,2021-07-01 18:00:11,고객요청
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
517,20210701,슈퍼히어로옥길범박,[히어로]짬뽕지존,15,부천시 괴안동 91-8 402호,부천시 괴안동 91-8 402호,NaN,4500,450,0,0,21500,선불,2021-07-01 12:17:08,NaT,NaT,NaT,NaT,2021-07-01 12:19:37,NaN
530,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 12:07:51,NaT,NaT,NaT,NaT,2021-07-01 12:07:59,NaN
540,20210701,슈퍼히어로옥길범박,[히어로]본도시락,20,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 11:59:49,NaT,NaT,NaT,NaT,2021-07-01 12:01:43,NaN

In [106]:
df[(df['완료'].isna()) & (df['취소'].isna())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [105]:
df[(df['완료'].notnull()) & (df['취소'].notnull())].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
9285,20210714,슈퍼히어로옥길범박,[히어로]맘스터치옥길점,10,***,***********,슈퍼히어로옥길범박,4000,400,0,300,15400,선불,2021-07-14 10:50:45,2021-07-14 10:56:54,2021-07-14 10:56:56,2021-07-14 11:06:46,2021-07-14 11:17:49,2021-07-14 10:51:21,NaN
12832,20210719,슈퍼히어로옥길범박,[히어로]본도시락,10,항동로 43,항동로 43,슈퍼히어로옥길범박,5000,500,0,300,18200,카드,2021-07-19 17:35:45,2021-07-19 17:35:53,2021-07-19 17:44:35,2021-07-19 17:47:07,2021-07-19 18:01:31,2021-07-19 17:41:05,NaN
12833,20210719,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 748-1,부천시 옥길동 748-1,슈퍼히어로옥길범박,4000,400,0,300,23800,선불,2021-07-19 17:35:35,2021-07-19 17:35:40,2021-07-19 17:42:11,2021-07-19 17:45:27,2021-07-19 17:57:06,2021-07-19 17:41:06,NaN
12834,20210719,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 777-4,부천시 옥길동 777-4,슈퍼히어로옥길범박,4000,400,0,300,19000,선불,2021-07-19 17:35:31,2021-07-19 17:35:36,2021-07-19 17:42:15,2021-07-19 17:45:26,2021-07-19 17:48:32,2021-07-19 17:41:07,NaN
12954,20210719,슈퍼히어로옥길범박,[히어로]스시젠,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-07-19 14:11:57,2021-07-19 14:12:02,2021-07-19 14:12:04,2021-07-19 14:12:12,2021-07-19 14:12:53,2021-07-19 14:13:27,NaN

In [104]:
df[df['취소'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
0,20210701,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 범박동 150-2,부천시 범박동 150-2,슈퍼히어로옥길범박,3500,350,0,300,21900,선불,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN
1,20210701,슈퍼히어로옥길범박,[히어로]59쌀피자,10,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,슈퍼히어로옥길범박,3500,0,0,300,26000,카드,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN
2,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 739-1,부천시 옥길동 739-1,슈퍼히어로옥길범박,3500,350,0,300,17000,선불,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN
3,20210701,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 소사본동 133-12,부천시 소사본동 133-12,부천 러쉬,4500,450,0,300,54000,선불,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN
4,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 780-1,부천시 옥길동 780-1,슈퍼히어로옥길범박,3500,350,0,300,24400,선불,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN

In [103]:
df[(df['취소'].isna()) & (df['취소사유'].notnull())].head()

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [102]:
df[(df['취소'].notnull()) & (df['취소사유'].isna())].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
505,20210701,슈퍼히어로옥길범박,[히어로]스시젠,10,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,은행동 599-1 시흥은행 대우 푸르지오아파트 405-404,NaN,6500,650,0,0,30500,선불,2021-07-01 12:20:38,NaT,NaT,NaT,NaT,2021-07-01 12:35:29,NaN
517,20210701,슈퍼히어로옥길범박,[히어로]짬뽕지존,15,부천시 괴안동 91-8 402호,부천시 괴안동 91-8 402호,NaN,4500,450,0,0,21500,선불,2021-07-01 12:17:08,NaT,NaT,NaT,NaT,2021-07-01 12:19:37,NaN
530,20210701,슈퍼히어로옥길범박,[히어로]본도시락,15,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 12:07:51,NaT,NaT,NaT,NaT,2021-07-01 12:07:59,NaN
540,20210701,슈퍼히어로옥길범박,[히어로]본도시락,20,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,부천시 범안로95번길 32 부천범박힐스테이트3단지아파트 309동,NaN,3500,350,0,0,25000,선불,2021-07-01 11:59:49,NaT,NaT,NaT,NaT,2021-07-01 12:01:43,NaN
545,20210701,슈퍼히어로옥길범박,[히어로]탭플레이커피,10,부천시 옥길동 780-1,부천시 옥길동 780-1,NaN,3500,350,0,0,12600,선불,2021-07-01 11:57:48,2021-07-01 12:08:21,NaT,NaT,NaT,2021-07-01 12:09:43,NaN

In [101]:
df[df['취소사유'].isna()].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
0,20210701,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 범박동 150-2,부천시 범박동 150-2,슈퍼히어로옥길범박,3500,350,0,300,21900,선불,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN
1,20210701,슈퍼히어로옥길범박,[히어로]59쌀피자,10,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,슈퍼히어로옥길범박,3500,0,0,300,26000,카드,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN
2,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 739-1,부천시 옥길동 739-1,슈퍼히어로옥길범박,3500,350,0,300,17000,선불,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN
3,20210701,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 소사본동 133-12,부천시 소사본동 133-12,부천 러쉬,4500,450,0,300,54000,선불,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN
4,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 780-1,부천시 옥길동 780-1,슈퍼히어로옥길범박,3500,350,0,300,24400,선불,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN

In [100]:
df[(df['취소사유'].notnull()) & (df['완료'].notnull())].head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
29667,20210812,빵빵광명,[광명]앤하우스,10,***,***********,슈퍼히어로옥길범박,4500,450,0,300,19000,선불,2021-08-12 19:12:35,2021-08-12 19:45:26,2021-08-12 19:45:36,2021-08-12 19:52:51,2021-08-12 20:03:42,2021-08-12 20:29:35,상점요청

In [116]:
df.describe()

,업무일자,배달요금,부가세,요금지원,콜수수료,상품금액
count,1.122490e+05,112249.000000,112249.000000,112249.000000,112249.000000,112249.000000
mean,2.021095e+07,4155.466864,375.150781,0.328733,340.665841,25148.645609
std,1.746544e+02,800.339510,147.748783,22.887138,69.702029,15287.008760
min,2.021070e+07,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.021081e+07,3500.000000,350.000000,0.000000,300.000000,16500.000000
50%,2.021092e+07,4000.000000,400.000000,0.000000,300.000000,21900.000000
75%,2.021111e+07,4500.000000,450.000000,0.000000,400.000000,30000.000000
max,2.021123e+07,40000.000000,4000.000000,4500.000000,500.000000,868000.000000

In [117]:
df.corr()

          업무일자      배달요금       부가세      요금지원      콜수수료      상품금액
업무일자  1.000000  0.262892  0.107944  0.008069  0.554959  0.032402
배달요금  0.262892  1.000000  0.564487 -0.006243  0.157163  0.222981
부가세   0.107944  0.564487  1.000000 -0.005053  0.065043  0.139721
요금지원  0.008069 -0.006243 -0.005053  1.000000 -0.007598  0.000289
콜수수료  0.554959  0.157163  0.065043 -0.007598  1.000000 -0.002459
상품금액  0.032402  0.222981  0.139721  0.000289 -0.002459  1.000000

In [76]:
from matplotlib import pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

fm.get_fontconfig_fonts()
font_location = 'C:/Windows/Fonts/NGULIM.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

C:\Users\ethan\AppData\Local\Temp\ipykernel_23088\2961248716.py:5: MatplotlibDeprecationWarning:
The get_fontconfig_fonts function was deprecated in Matplotlib 3.5 and will be removed two minor releases later.
  fm.get_fontconfig_fonts()