In [46]:
import pandas as pd

df = pd.read_excel(
    './delivery/21년 7월_22년 6월 수도권제2본부-1.xlsx',
    sheet_name = 4, usecols = [0, 6, 8, 9, 12, 13, 18, 22, 23, 25, 26, 
    27, 29, 34, 35, 36, 37, 38, 39, 43])
df.head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
0,20210701,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 범박동 150-2,부천시 범박동 150-2,슈퍼히어로옥길범박,3500,350,0,300,21900,선불,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN
1,20210701,슈퍼히어로옥길범박,[히어로]59쌀피자,10,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,슈퍼히어로옥길범박,3500,0,0,300,26000,카드,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN
2,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 739-1,부천시 옥길동 739-1,슈퍼히어로옥길범박,3500,350,0,300,17000,선불,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN
3,20210701,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 소사본동 133-12,부천시 소사본동 133-12,부천 러쉬,4500,450,0,300,54000,선불,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN
4,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 780-1,부천시 옥길동 780-1,슈퍼히어로옥길범박,3500,350,0,300,24400,선불,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112249 entries, 0 to 112248
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   업무일자    112249 non-null  int64
 1   접수회사    112249 non-null  object
 2   상점      112249 non-null  object
 3   요청      112249 non-null  object
 4   도착지명    112237 non-null  object
 5   도착지주소   112239 non-null  object
 6   기사소속회사  110479 non-null  object
 7   배달요금    112249 non-null  int64
 8   부가세     112249 non-null  int64
 9   요금지원    112249 non-null  int64
 10  콜수수료    112249 non-null  int64
 11  상품금액    112249 non-null  int64
 12  결제방법    112249 non-null  object
 13  접수      111653 non-null  datetime64[ns]
 14  요청.1    108689 non-null  datetime64[ns]
 15  배차      110512 non-null  datetime64[ns]
 16  픽업      110093 non-null  datetime64[ns]
 17  완료      110118 non-null  datetime64[ns]
 18  취소      2160 non-null    datetime64[ns]
 19  취소사유    573 non-null     object
dtypes: datetime64[ns](6), int64(6), object(8)
memory usage: 17.1+ MB

In [48]:
df.isna().sum()

업무일자           0
접수회사           0
상점             0
요청             0
도착지명          12
도착지주소         10
기사소속회사      1770
배달요금           0
부가세            0
요금지원           0
콜수수료           0
상품금액           0
결제방법           0
접수           596
요청.1        3560
배차          1737
픽업          2156
완료          2131
취소        110089
취소사유      111676
dtype: int64

In [49]:
len(df[(df['도착지명'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [50]:
len(df[(df['도착지주소'] == '못찾음') & (df['취소'].isna())])

0

In [51]:
df[(df['도착지주소'].isna()) & (df['취소'].isna())]

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
283,20210701,슈퍼히어로옥길범박,[히어로]최고당돈까스,10,센트리뷰,NaN,슈퍼히어로옥길범박,3000,300,0,300,20300,선불,2021-07-01 18:17:00,2021-07-01 18:17:06,2021-07-01 18:17:11,2021-07-01 18:28:26,2021-07-01 18:43:01,NaT,NaN
8169,20210713,슈퍼히어로옥길범박,[히어로]국제갈비,10,부천시 소사본돈 409-3 센트럴프라자,NaN,부천 러쉬,3000,300,0,300,31000,선불,2021-07-13 18:35:33,2021-07-13 18:35:44,2021-07-13 18:35:48,2021-07-13 18:45:03,2021-07-13 18:54:08,NaT,NaN
17371,20210725,슈퍼히어로옥길범박,[히어로]치킨사랑,10,부천시 괴안동 251-1 범박휴먼시아 108동,NaN,부천 러쉬,3500,350,0,300,31000,카드,2021-07-25 18:17:49,2021-07-25 18:18:08,2021-07-25 18:18:13,2021-07-25 18:25:44,2021-07-25 18:29:15,NaT,NaN
17472,20210725,슈퍼히어로옥길범박,[히어로]마산아구찜옥길,25,매화빌라 1동,NaN,슈퍼히어로옥길범박,3000,300,0,300,41000,카드,2021-07-25 17:30:43,2021-07-25 17:31:09,2021-07-25 17:31:10,2021-07-25 18:00:47,2021-07-25 18:07:38,NaT,NaN
28276,20210810,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,신흥로 39번길,NaN,슈퍼히어로옥길범박,8000,800,0,300,0,카→선,2021-08-10 21:21:20,2021-08-10 21:21:26,2021-08-10 21:22:45,2021-08-10 21:22:51,2021-08-10 21:44:35,NaT,NaN
35835,20210821,슈퍼히어로옥길범박,[히어로]맘스터치옥길점,10,옥길로 30번길,NaN,슈퍼히어로옥길범박,4000,400,0,300,27200,카드,2021-08-21 18:20:17,2021-08-21 18:21:41,2021-08-21 18:21:42,2021-08-21 18:27:53,2021-08-21 18:32:40,NaT,NaN
69412,20211020,슈퍼히어로옥길범박,[히어로]땡기요,10,범박동힐스데이트 3단지,NaN,슈퍼히어로옥길범박,3000,300,0,400,40000,카드,2021-10-20 20:38:39,2021-10-20 20:38:48,2021-10-20 20:38:56,2021-10-20 20:50:03,2021-10-20 20:59:24,NaT,NaN

In [52]:
len(df[(df['기사소속회사'].isna()) & (df['취소'].isna())])

0

In [53]:
len(df[(df['접수'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [54]:
len(df[df['접수'] >= df['완료']])

0

In [55]:
len(df[df['요청.1'].isna() & (df['취소'].isna()) & (df['완료'].isna())])

0

In [57]:
len(df[(df['배차'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [58]:
len(df[(df['픽업'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [59]:
len(df[(df['완료'].isna()) & (df['취소'].isna())])

0

In [60]:
len(df[(df['완료'].notnull()) & (df['취소'].notnull())])

29

In [61]:
len(df[(df['취소'].isna()) & (df['취소사유'].notnull())])

0

In [62]:
len(df[(df['취소'].notnull()) & (df['취소사유'].isna())])

1587

In [63]:
len(df[(df['취소'].notnull()) & (df['취소사유'].notnull())])

573

In [64]:
df.describe()

,업무일자,배달요금,부가세,요금지원,콜수수료,상품금액
count,1.122490e+05,112249.000000,112249.000000,112249.000000,112249.000000,112249.000000
mean,2.021095e+07,4155.466864,375.150781,0.328733,340.665841,25148.645609
std,1.746544e+02,800.339510,147.748783,22.887138,69.702029,15287.008760
min,2.021070e+07,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.021081e+07,3500.000000,350.000000,0.000000,300.000000,16500.000000
50%,2.021092e+07,4000.000000,400.000000,0.000000,300.000000,21900.000000
75%,2.021111e+07,4500.000000,450.000000,0.000000,400.000000,30000.000000
max,2.021123e+07,40000.000000,4000.000000,4500.000000,500.000000,868000.000000

In [65]:
df.corr()

          업무일자      배달요금       부가세      요금지원      콜수수료      상품금액
업무일자  1.000000  0.262892  0.107944  0.008069  0.554959  0.032402
배달요금  0.262892  1.000000  0.564487 -0.006243  0.157163  0.222981
부가세   0.107944  0.564487  1.000000 -0.005053  0.065043  0.139721
요금지원  0.008069 -0.006243 -0.005053  1.000000 -0.007598  0.000289
콜수수료  0.554959  0.157163  0.065043 -0.007598  1.000000 -0.002459
상품금액  0.032402  0.222981  0.139721  0.000289 -0.002459  1.000000

In [66]:
from datetime import datetime
import math

def trans_second(list1, list2):
    second = []

    for li1, li2 in zip(list1, list2):
        if li1 is not None and li2 is not None:
            tmp = li1 - li2
            second.append(tmp.seconds)
    
    return [x for x in second if math.isnan(x) == False]

def trans_time(second):
    m = second // 60
    s = second % 60
    time = int(m), int(s)

    return time

second = trans_second(df['완료'], df['접수'])
print('최대배달시간', trans_time(max(second)))
print('최소배달시간', trans_time(min(second)))
print('평균배달시간', trans_time(sum(second)/len(second)))

최대배달시간 (326, 55)
최소배달시간 (0, 8)
평균배달시간 (25, 2)