In [25]:
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_excel(
    './delivery/21년 7월_22년 6월 수도권제2본부-1.xlsx',
    sheet_name = 4)
df.head()

,업무일자,콜 번호,Unnamed: 2,Unnamed: 3,콜 상태,구분,접수회사,전화번호,상점,요청,출발지명,출발지주소,도착지명,도착지주소,도착상세,요청사항(배송메모),도착지 전화,등록자명,기사소속회사,기사명,기사전화,단말기번호,배달요금,부가세,요금지불,요금지원,콜수수료,상품금액,현금수금,결제방법,결제결과,승인번호,보류,예약,접수,요청.1,배차,픽업,완료,취소,사고,문의,취소자명,취소사유,외부연동구분,외부연동번호
0,20210701,0856-1461,배달,O_API,완료,NaN,슈퍼히어로옥길범박,032-351-1117,[범박]그래그래 피자&떡볶이,10,[범박]🌈 그래그래 피자&떡볶이,경기 부천시 범박동 155-2 현대리치모아,부천시 범박동 150-2,부천시 범박동 150-2,부천범박힐스테이트 6단지 606-2203,고객요청사항: 리뷰이벤트 치즈오븐스파게티할게요! (수저포크 X) / #606#220...,0503-7368-2118,[헬로월드],슈퍼히어로옥길범박,[히어로]박건,010-2434-8958,010-2434-8958,3500,350,캐쉬,0,300,21900,NaN,선불,NaN,NaN,NaN,NaT,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN,NaN,NaN,NaN,0F9A246688,130579385
1,20210701,0854-2211,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-345-5938,[히어로]59쌀피자,10,[옥길]오구쌀피자,경기 부천시 옥길동 744-2,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,702-1502호,NaN,010-3009-1539,[상점직접],슈퍼히어로옥길범박,[히어로]이승민,010-4137-8498,010-4137-8498,3500,0,캐쉬,0,300,26000,NaN,카드,전체완료,승인:신한카드 (35534604),NaN,NaT,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,20210701,0845-0121,배달,푸드테크,완료,NaN,슈퍼히어로옥길범박,032-343-9294,[히어로]굽네치킨옥길점,10,[옥길]굽네치킨,경기 부천시 옥길동 776-1 부천옥길자이,옥길동 739-1,부천시 옥길동 739-1,제이드카운티2단지 206동 1401호,"[선결제완료]일회용 수저, 포크 X 이벤트 참여- 콜라사이즈업 요기요콜센터: 166...",0504-4735-1039,[푸드테크],슈퍼히어로옥길범박,[히어로]이승민,010-4137-8498,010-4137-8498,3500,350,캐쉬,0,300,17000,NaN,선불,NaN,NaN,NaN,NaT,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN,NaN,NaN,NaN,FoodTech,ft140269805
3,20210701,0841-7616,배달,O_API,완료,NaN,슈퍼히어로옥길범박,032-348-5379,[히어로]원할머니보쌈,10,[옥길]원할머니보쌈,경기 부천시 옥길동 705-1,부천시 소사본동 133-12,부천시 소사본동 133-12,부천소사역 푸르지오 부천소사역푸르지오아파트 105동 202호,고객요청사항: (수저포크 X) / 조심히 안전하게 와주세요 :),010-9519-5109,[헬로월드],부천 러쉬,변재화(Rush역곡),010-4999-0226,010-4999-0226,4500,450,캐쉬,0,300,54000,NaN,선불,NaN,NaN,NaN,NaT,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN,NaN,NaN,NaN,0F9A246688,130576038
4,20210701,0837-7181,배달,푸드테크,완료,NaN,슈퍼히어로옥길범박,032-343-9294,[히어로]굽네치킨옥길점,10,[옥길]굽네치킨,경기 부천시 옥길동 776-1 부천옥길자이,옥길동 780-1,부천시 옥길동 780-1,104-501,[선결제완료](수저포크 X) (배달요청)조심히 안전하게 와주세요 :),0503-7384-2898,[푸드테크],슈퍼히어로옥길범박,[히어로]박건,010-2434-8958,010-2434-8958,3500,350,캐쉬,0,300,24400,NaN,선불,NaN,NaN,NaN,NaT,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN,NaN,NaN,NaN,FoodTech,ft140267160

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112249 entries, 0 to 112248
Data columns (total 46 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   업무일자        112249 non-null  int64
 1   콜 번호        112249 non-null  object
 2   Unnamed: 2  112249 non-null  object
 3   Unnamed: 3  104731 non-null  object
 4   콜 상태        112249 non-null  object
 5   구분          0 non-null       float64
 6   접수회사        112249 non-null  object
 7   전화번호        112249 non-null  object
 8   상점          112249 non-null  object
 9   요청          112249 non-null  object
 10  출발지명        112245 non-null  object
 11  출발지주소       112249 non-null  object
 12  도착지명        112237 non-null  object
 13  도착지주소       112239 non-null  object
 14  도착상세        111559 non-null  object
 15  요청사항(배송메모)  104403 non-null  object
 16  도착지 전화      111130 non-null  object
 17  등록자명        112249 non-null  object
 18  기사소속회사      110479 non-null  object
 19  기사명         110479 non-null  object
 20  기사전화        110479 non-null  object
 21  단말기번호       110479 non-null  object
 22  배달요금        112249 non-null  int64
 23  부가세         112249 non-null  int64
 24  요금지불        112249 non-null  object
 25  요금지원        112249 non-null  int64
 26  콜수수료        112249 non-null  int64
 27  상품금액        112249 non-null  int64
 28  현금수금        9159 non-null    object
 29  결제방법        112249 non-null  object
 30  결제결과        17744 non-null   object
 31  승인번호        17351 non-null   object
 32  보류          0 non-null       float64
 33  예약          74 non-null      datetime64[ns]
 34  접수          111653 non-null  datetime64[ns]
 35  요청.1        108689 non-null  datetime64[ns]
 36  배차          110512 non-null  datetime64[ns]
 37  픽업          110093 non-null  datetime64[ns]
 38  완료          110118 non-null  datetime64[ns]
 39  취소          2160 non-null    datetime64[ns]
 40  사고          0 non-null       float64
 41  문의          0 non-null       float64
 42  취소자명        2141 non-null    object
 43  취소사유        573 non-null     object
 44  외부연동구분      104731 non-null  object
 45  외부연동번호      96596 non-null   object
dtypes: datetime64[ns](7), float64(4), int64(6), object(29)
memory usage: 39.4+ MB

In [3]:
df.isna().sum()

업무일자               0
콜 번호               0
Unnamed: 2         0
Unnamed: 3      7518
콜 상태               0
구분            112249
접수회사               0
전화번호               0
상점                 0
요청                 0
출발지명               4
출발지주소              0
도착지명              12
도착지주소             10
도착상세             690
요청사항(배송메모)      7846
도착지 전화          1119
등록자명               0
기사소속회사          1770
기사명             1770
기사전화            1770
단말기번호           1770
배달요금               0
부가세                0
요금지불               0
요금지원               0
콜수수료               0
상품금액               0
현금수금          103090
결제방법               0
결제결과           94505
승인번호           94898
보류            112249
예약            112175
접수               596
요청.1            3560
배차              1737
픽업              2156
완료              2131
취소            110089
사고            112249
문의            112249
취소자명          110108
취소사유          111676
외부연동구분          7518
외부연동번호         15653
dtype: int64

In [4]:
len(df[(df['도착지명'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [5]:
len(df[(df['도착지주소'] == '못찾음') & (df['취소'].isna())])

0

In [6]:
df[(df['도착지주소'].isna()) & (df['취소'].isna())]

,업무일자,콜 번호,Unnamed: 2,Unnamed: 3,콜 상태,구분,접수회사,전화번호,상점,요청,...,배차,픽업,완료,취소,사고,문의,취소자명,취소사유,외부연동구분,외부연동번호
283,20210701,0658-2173,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-343-0603,[히어로]최고당돈까스,10,...,2021-07-01 18:17:11,2021-07-01 18:28:26,2021-07-01 18:43:01,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8169,20210713,0669-3427,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-342-3070,[히어로]국제갈비,10,...,2021-07-13 18:35:48,2021-07-13 18:45:03,2021-07-13 18:54:08,NaT,NaN,NaN,NaN,NaN,NaN,NaN
17371,20210725,0658-7099,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-341-7748,[히어로]치킨사랑,10,...,2021-07-25 18:18:13,2021-07-25 18:25:44,2021-07-25 18:29:15,NaT,NaN,NaN,NaN,NaN,NaN,NaN
17472,20210725,0630-4480,배달,NaN,완료,NaN,슈퍼히어로옥길범박,02-6104-4018,[히어로]마산아구찜옥길,25,...,2021-07-25 17:31:10,2021-07-25 18:00:47,2021-07-25 18:07:38,NaT,NaN,NaN,NaN,NaN,NaN,NaN
28276,20210810,0768-8113,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-348-5379,[히어로]원할머니보쌈,10,...,2021-08-10 21:22:45,2021-08-10 21:22:51,2021-08-10 21:44:35,NaT,NaN,NaN,NaN,NaN,NaN,NaN
35835,20210821,0660-1856,배달,NaN,완료,NaN,슈퍼히어로옥길범박,032-344-6257,[히어로]맘스터치옥길점,10,...,2021-08-21 18:21:42,2021-08-21 18:27:53,2021-08-21 18:32:40,NaT,NaN,NaN,NaN,NaN,NaN,NaN
69412,20211020,0743-2028,배달,NaN,완료,NaN,슈퍼히어로옥길범박,0507-1327-2037,[히어로]땡기요,10,...,2021-10-20 20:38:56,2021-10-20 20:50:03,2021-10-20 20:59:24,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(df[(df['기사소속회사'].isna()) & (df['취소'].isna())])

0

In [8]:
len(df[(df['접수'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [9]:
len(df[df['접수'] >= df['완료']])

0

In [10]:
len(df[df['요청.1'].isna() & (df['취소'].isna()) & (df['완료'].isna())])

0

In [11]:
len(df[(df['배차'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [12]:
len(df[(df['픽업'].isna()) & (df['취소'].isna()) & (df['완료'].isna())])

0

In [13]:
len(df[(df['완료'].isna()) & (df['취소'].isna())])

0

In [14]:
len(df[(df['완료'].notnull()) & (df['취소'].notnull())])

29

In [15]:
len(df[(df['취소'].isna()) & (df['취소사유'].notnull())])

0

In [16]:
len(df[(df['취소'].notnull()) & (df['취소사유'].isna())])

1587

In [17]:
len(df[(df['취소'].notnull()) & (df['취소사유'].notnull())])

573

In [18]:
df.describe()

,업무일자,구분,배달요금,부가세,요금지원,콜수수료,상품금액,보류,사고,문의
count,1.122490e+05,0.0,112249.000000,112249.000000,112249.000000,112249.000000,112249.000000,0.0,0.0,0.0
mean,2.021095e+07,NaN,4155.466864,375.150781,0.328733,340.665841,25148.645609,NaN,NaN,NaN
std,1.746544e+02,NaN,800.339510,147.748783,22.887138,69.702029,15287.008760,NaN,NaN,NaN
min,2.021070e+07,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,2.021081e+07,NaN,3500.000000,350.000000,0.000000,300.000000,16500.000000,NaN,NaN,NaN
50%,2.021092e+07,NaN,4000.000000,400.000000,0.000000,300.000000,21900.000000,NaN,NaN,NaN
75%,2.021111e+07,NaN,4500.000000,450.000000,0.000000,400.000000,30000.000000,NaN,NaN,NaN
max,2.021123e+07,NaN,40000.000000,4000.000000,4500.000000,500.000000,868000.000000,NaN,NaN,NaN

In [19]:
df.corr()

,업무일자,구분,배달요금,부가세,요금지원,콜수수료,상품금액,보류,사고,문의
업무일자,1.000000,NaN,0.262892,0.107944,0.008069,0.554959,0.032402,NaN,NaN,NaN
구분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
배달요금,0.262892,NaN,1.000000,0.564487,-0.006243,0.157163,0.222981,NaN,NaN,NaN
부가세,0.107944,NaN,0.564487,1.000000,-0.005053,0.065043,0.139721,NaN,NaN,NaN
요금지원,0.008069,NaN,-0.006243,-0.005053,1.000000,-0.007598,0.000289,NaN,NaN,NaN
콜수수료,0.554959,NaN,0.157163,0.065043,-0.007598,1.000000,-0.002459,NaN,NaN,NaN
상품금액,0.032402,NaN,0.222981,0.139721,0.000289,-0.002459,1.000000,NaN,NaN,NaN
보류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
사고,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
문의,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
from datetime import datetime
import math

def trans_second(list1, list2):
    second = []

    for li1, li2 in zip(list1, list2):
        if li1 is not None and li2 is not None:
            tmp = li1 - li2
            second.append(tmp.seconds)
    
    return [x for x in second if math.isnan(x) == False]

def trans_time(second):
    m = second // 60
    s = second % 60
    time = int(m), int(s)

    return time

second = trans_second(df['완료'], df['접수'])
print('최대배달시간', trans_time(max(second)))
print('최소배달시간', trans_time(min(second)))
print('평균배달시간', trans_time(sum(second)/len(second)))

최대배달시간 (326, 55)
최소배달시간 (0, 8)
평균배달시간 (25, 2)