In [2]:
import pandas as pd

df = pd.read_excel(
    './delivery/21년 7월_22년 6월 수도권제2본부-1.xlsx',
    sheet_name = 4, usecols = [0, 6, 8, 9, 12, 13, 18, 22, 23, 25, 26, 
    27, 29, 34, 35, 36, 37, 38, 39, 43])
df.head()

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
0,20210701,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 범박동 150-2,부천시 범박동 150-2,슈퍼히어로옥길범박,3500,350,0,300,21900,선불,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN
1,20210701,슈퍼히어로옥길범박,[히어로]59쌀피자,10,센트리뷰,부천시 옥길동 771-1 부천옥길센트리뷰아파트 전기차충전소,슈퍼히어로옥길범박,3500,0,0,300,26000,카드,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN
2,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 739-1,부천시 옥길동 739-1,슈퍼히어로옥길범박,3500,350,0,300,17000,선불,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN
3,20210701,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 소사본동 133-12,부천시 소사본동 133-12,부천 러쉬,4500,450,0,300,54000,선불,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN
4,20210701,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 780-1,부천시 옥길동 780-1,슈퍼히어로옥길범박,3500,350,0,300,24400,선불,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112249 entries, 0 to 112248
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   업무일자    112249 non-null  int64
 1   접수회사    112249 non-null  object
 2   상점      112249 non-null  object
 3   요청      112249 non-null  object
 4   도착지명    112237 non-null  object
 5   도착지주소   112239 non-null  object
 6   기사소속회사  110479 non-null  object
 7   배달요금    112249 non-null  int64
 8   부가세     112249 non-null  int64
 9   요금지원    112249 non-null  int64
 10  콜수수료    112249 non-null  int64
 11  상품금액    112249 non-null  int64
 12  결제방법    112249 non-null  object
 13  접수      111653 non-null  datetime64[ns]
 14  요청.1    108689 non-null  datetime64[ns]
 15  배차      110512 non-null  datetime64[ns]
 16  픽업      110093 non-null  datetime64[ns]
 17  완료      110118 non-null  datetime64[ns]
 18  취소      2160 non-null    datetime64[ns]
 19  취소사유    573 non-null     object
dtypes: datetime64[ns](6), int64(6), object(8)
memory usage: 17.1+ MB

In [4]:
df.isna().sum()

업무일자           0
접수회사           0
상점             0
요청             0
도착지명          12
도착지주소         10
기사소속회사      1770
배달요금           0
부가세            0
요금지원           0
콜수수료           0
상품금액           0
결제방법           0
접수           596
요청.1        3560
배차          1737
픽업          2156
완료          2131
취소        110089
취소사유      111676
dtype: int64

In [5]:
df[(df['도착지명'].isna()) & (df['취소'].isna()) & (df['완료'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [6]:
df[(df['도착지주소'] == '못찾음') & (df['취소'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [7]:
df[df['도착지주소'].isna()]

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
283,20210701,슈퍼히어로옥길범박,[히어로]최고당돈까스,10,센트리뷰,NaN,슈퍼히어로옥길범박,3000,300,0,300,20300,선불,2021-07-01 18:17:00,2021-07-01 18:17:06,2021-07-01 18:17:11,2021-07-01 18:28:26,2021-07-01 18:43:01,NaT,NaN
8169,20210713,슈퍼히어로옥길범박,[히어로]국제갈비,10,부천시 소사본돈 409-3 센트럴프라자,NaN,부천 러쉬,3000,300,0,300,31000,선불,2021-07-13 18:35:33,2021-07-13 18:35:44,2021-07-13 18:35:48,2021-07-13 18:45:03,2021-07-13 18:54:08,NaT,NaN
15292,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,NaT,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:06,NaN
15294,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,NaT,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:19,NaN
15297,20210722,슈퍼히어로옥길범박,[히어로]송주불냉면,20,부천시 범안로,NaN,슈퍼히어로옥길범박,3500,350,0,300,0,카드,2021-07-22 11:19:27,2021-07-22 11:20:19,2021-07-22 11:20:21,NaT,NaT,2021-07-22 11:48:22,NaN
17371,20210725,슈퍼히어로옥길범박,[히어로]치킨사랑,10,부천시 괴안동 251-1 범박휴먼시아 108동,NaN,부천 러쉬,3500,350,0,300,31000,카드,2021-07-25 18:17:49,2021-07-25 18:18:08,2021-07-25 18:18:13,2021-07-25 18:25:44,2021-07-25 18:29:15,NaT,NaN
17472,20210725,슈퍼히어로옥길범박,[히어로]마산아구찜옥길,25,매화빌라 1동,NaN,슈퍼히어로옥길범박,3000,300,0,300,41000,카드,2021-07-25 17:30:43,2021-07-25 17:31:09,2021-07-25 17:31:10,2021-07-25 18:00:47,2021-07-25 18:07:38,NaT,NaN
28276,20210810,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,신흥로 39번길,NaN,슈퍼히어로옥길범박,8000,800,0,300,0,카→선,2021-08-10 21:21:20,2021-08-10 21:21:26,2021-08-10 21:22:45,2021-08-10 21:22:51,2021-08-10 21:44:35,NaT,NaN
35835,20210821,슈퍼히어로옥길범박,[히어로]맘스터치옥길점,10,옥길로 30번길,NaN,슈퍼히어로옥길범박,4000,400,0,300,27200,카드,2021-08-21 18:20:17,2021-08-21 18:21:41,2021-08-21 18:21:42,2021-08-21 18:27:53,2021-08-21 18:32:40,NaT,NaN
69412,20211020,슈퍼히어로옥길범박,[히어로]땡기요,10,범박동힐스데이트 3단지,NaN,슈퍼히어로옥길범박,3000,300,0,400,40000,카드,2021-10-20 20:38:39,2021-10-20 20:38:48,2021-10-20 20:38:56,2021-10-20 20:50:03,2021-10-20 20:59:24,NaT,NaN

In [8]:
df[(df['기사소속회사'].isna()) & (df['취소'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [9]:
df[(df['접수'].isna()) & (df['취소'].isna()) & (df['완료'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [35]:
df[df['접수'] >= df['완료']]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [10]:
df[df['요청.1'].isna() & (df['취소'].isna()) & (df['완료'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [11]:
len(df[df['도착지명'] == '***'])

76873

In [12]:
df[(df['배차'].isna()) & (df['취소'].isna()) & (df['완료'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [13]:
df[(df['픽업'].isna()) & (df['취소'].isna()) & (df['완료'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [14]:
df[(df['완료'].isna()) & (df['취소'].isna())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [15]:
df[(df['완료'].notnull()) & (df['취소'].notnull())]

,업무일자,접수회사,상점,요청,도착지명,도착지주소,기사소속회사,배달요금,부가세,요금지원,콜수수료,상품금액,결제방법,접수,요청.1,배차,픽업,완료,취소,취소사유
9285,20210714,슈퍼히어로옥길범박,[히어로]맘스터치옥길점,10,***,***********,슈퍼히어로옥길범박,4000,400,0,300,15400,선불,2021-07-14 10:50:45,2021-07-14 10:56:54,2021-07-14 10:56:56,2021-07-14 11:06:46,2021-07-14 11:17:49,2021-07-14 10:51:21,NaN
12832,20210719,슈퍼히어로옥길범박,[히어로]본도시락,10,항동로 43,항동로 43,슈퍼히어로옥길범박,5000,500,0,300,18200,카드,2021-07-19 17:35:45,2021-07-19 17:35:53,2021-07-19 17:44:35,2021-07-19 17:47:07,2021-07-19 18:01:31,2021-07-19 17:41:05,NaN
12833,20210719,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 748-1,부천시 옥길동 748-1,슈퍼히어로옥길범박,4000,400,0,300,23800,선불,2021-07-19 17:35:35,2021-07-19 17:35:40,2021-07-19 17:42:11,2021-07-19 17:45:27,2021-07-19 17:57:06,2021-07-19 17:41:06,NaN
12834,20210719,슈퍼히어로옥길범박,[히어로]굽네치킨옥길점,10,옥길동 777-4,부천시 옥길동 777-4,슈퍼히어로옥길범박,4000,400,0,300,19000,선불,2021-07-19 17:35:31,2021-07-19 17:35:36,2021-07-19 17:42:15,2021-07-19 17:45:26,2021-07-19 17:48:32,2021-07-19 17:41:07,NaN
12954,20210719,슈퍼히어로옥길범박,[히어로]스시젠,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-07-19 14:11:57,2021-07-19 14:12:02,2021-07-19 14:12:04,2021-07-19 14:12:12,2021-07-19 14:12:53,2021-07-19 14:13:27,NaN
15134,20210722,슈퍼히어로옥길범박,[히어로]최고당돈까스,10,힐스테이트 309동,부천시 범박동 155-1 힐스테이트 309동,슈퍼히어로옥길범박,3500,350,0,300,20800,카→현,2021-07-22 13:31:02,2021-07-22 16:13:35,2021-07-22 16:13:38,2021-07-22 16:15:07,2021-07-22 16:15:12,2021-07-22 16:16:35,NaN
17167,20210725,슈퍼히어로옥길범박,[히어로]크레이지떡볶이,20,소사본동61-11,부천시 소사본동 61-11 대상맨션 소사본동61-11,슈퍼히어로옥길범박,5000,500,0,300,38800,카드,2021-07-25 20:06:24,2021-07-25 20:16:16,2021-07-25 20:16:18,2021-07-25 20:25:48,2021-07-25 20:49:04,2021-07-25 20:11:04,NaN
17992,20210726,슈퍼히어로옥길범박,[히어로]신호탄,10,부천시 괴안동 100-59,부천시 괴안동 100-59,부천 러쉬,4000,400,0,300,19000,현금,2021-07-26 20:04:00,2021-07-26 20:07:46,2021-07-26 20:07:48,2021-07-26 20:19:57,2021-07-26 20:43:14,2021-07-26 21:00:20,NaN
24415,20210804,슈퍼히어로옥길범박,[히어로]유가네옥길점,15,***,***********,슈퍼히어로옥길범박,3500,350,0,300,20500,선불,2021-08-04 19:19:19,2021-08-04 19:36:13,2021-08-04 19:36:15,2021-08-04 19:52:40,2021-08-04 19:57:21,2021-08-04 20:52:56,NaN
28375,20210810,슈퍼히어로옥길범박,[히어로]맘스터치옥길점,15,대야동531-1,대야동 531-1 신세계오피스텔 대야동531-1,슈퍼히어로옥길범박,6500,650,0,300,17900,선불,2021-08-10 19:35:09,2021-08-10 19:36:13,2021-08-10 19:36:14,2021-08-10 19:59:07,2021-08-10 20:19:35,2021-08-10 19:35:27,NaN
29214,20210811,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-08-11 16:45:51,2021-08-11 16:46:01,2021-08-11 16:46:01,2021-08-11 16:46:27,2021-08-11 16:52:59,2021-08-11 16:53:33,NaN
29667,20210812,빵빵광명,[광명]앤하우스,10,***,***********,슈퍼히어로옥길범박,4500,450,0,300,19000,선불,2021-08-12 19:12:35,2021-08-12 19:45:26,2021-08-12 19:45:36,2021-08-12 19:52:51,2021-08-12 20:03:42,2021-08-12 20:29:35,상점요청
36849,20210822,슈퍼히어로옥길범박,[히어로]오하요카레,10,***,***********,슈퍼히어로옥길범박,3500,350,0,300,60000,선불,2021-08-22 14:38:17,2021-08-22 14:38:32,2021-08-22 14:57:33,2021-08-22 14:57:45,2021-08-22 15:01:03,2021-08-22 14:55:47,NaN
37656,20210824,슈퍼히어로옥길범박,[히어로]하삼동커피,10,7단지 센트리뷰,부천시 옥길동 771-1 7단지 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,15000,카드,2021-08-24 21:21:29,2021-08-24 21:21:49,2021-08-24 21:21:50,2021-08-24 21:22:03,2021-08-24 21:22:46,2021-08-24 21:24:09,NaN
40472,20210828,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1703동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-08-28 16:59:30,NaT,2021-08-28 16:59:36,2021-08-28 17:00:45,2021-08-28 17:02:03,2021-08-28 17:02:58,NaN
40552,20210828,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,400,1000,카드,2021-08-28 15:00:13,2021-08-28 15:00:20,2021-08-28 15:00:23,2021-08-28 15:00:53,2021-08-28 15:02:13,2021-08-28 15:02:57,NaN
43792,20210903,슈퍼히어로옥길범박,[히어로]스시젠,20,***,***********,슈퍼히어로옥길범박,5000,500,0,300,38500,선불,2021-09-03 19:42:10,2021-09-03 19:43:03,2021-09-03 20:18:09,2021-09-03 19:59:02,2021-09-03 20:06:51,2021-09-03 20:22:22,NaN
44085,20210903,슈퍼히어로옥길범박,[히어로]정자초밥,10,***,***********,슈퍼히어로옥길범박,3500,350,0,300,46000,선불,2021-09-03 12:30:00,2021-09-03 12:30:17,2021-09-03 12:34:53,2021-09-03 12:30:38,2021-09-03 12:30:40,2021-09-03 12:35:01,NaN
44200,20210903,슈퍼히어로옥길범박,[범박]그래그래 피자&떡볶이,10,부천시 역곡동 62-25,부천시 역곡동 62-25,슈퍼히어로옥길범박,4500,450,0,300,19400,선불,2021-09-03 00:39:06,2021-09-03 00:39:15,2021-09-03 00:43:10,2021-09-03 01:04:29,2021-09-03 01:11:04,2021-09-03 00:42:39,NaN
51923,20210917,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1703동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-09-17 22:27:02,NaT,2021-09-17 22:27:11,2021-09-17 22:27:49,2021-09-17 22:29:01,2021-09-17 22:30:25,NaN
52297,20210917,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트럴힐,부천시 옥길동 748-1501동 센트럴힐,슈퍼히어로옥길범박,3500,350,0,300,35000,카드,2021-09-17 15:15:31,2021-09-17 15:15:36,2021-09-17 15:15:38,2021-09-17 15:16:42,2021-09-17 15:19:21,2021-09-17 15:20:59,NaN
52300,20210917,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-09-17 15:08:42,NaT,2021-09-17 15:08:48,2021-09-17 15:12:39,2021-09-17 15:14:25,2021-09-17 15:15:07,NaN
55740,20210924,슈퍼히어로옥길범박,[히어로]옹기꽃게장,15,센트리뷰,부천시 옥길동 771-1701동 센트리뷰,슈퍼히어로옥길범박,3500,350,0,300,1000,카드,2021-09-24 22:32:59,2021-09-24 22:33:21,2021-09-24 22:33:22,2021-09-24 22:33:28,2021-09-24 22:33:44,2021-09-24 22:34:28,NaN
66232,20211014,슈퍼히어로옥길범박,[히어로]주부전문가,10,호반베르디움 107동,부천시 옥길동 780-1 호반베르디움 107동,슈퍼히어로옥길범박,4000,0,0,300,0,선불,2021-10-14 11:32:37,2021-10-14 11:32:42,2021-10-14 11:32:45,2021-10-14 11:32:54,2021-10-14 11:33:02,2021-10-14 11:33:24,NaN
70142,20211021,슈퍼히어로옥길범박,[히어로]태권치킨,15,센트리뷰,센트리뷰,슈퍼히어로옥길범박,3000,300,0,400,1000,카드,2021-10-21 17:54:17,2021-10-21 17:54:22,2021-10-21 17:54:24,2021-10-21 17:54:59,2021-10-21 17:56:03,2021-10-21 17:59:22,NaN
70653,20211022,슈퍼히어로옥길범박,[히어로]원할머니보쌈,10,부천시 괴안동 36,부천시 괴안동 36,슈퍼히어로옥길범박,4500,450,0,400,23500,선불,2021-10-22 18:58:09,2021-10-22 18:58:15,2021-10-22 19:02:27,2021-10-22 19:04:18,2021-10-22 19:24:13,2021-10-22 19:01:57,NaN
80582,20211108,슈퍼히어로옥길범박,[히어로]홍콩반점0410부천옥길점,10,***,***********,슈퍼히어로옥길범박,4500,450,0,400,27500,선불,2021-11-08 16:31:06,2021-11-08 16:01:46,2021-11-08 21:57:57,2021-11-08 16:12:33,2021-11-08 21:58:01,2021-11-08 17:52:30,NaN
85772,20211118,슈퍼히어로옥길범박,[히어로]땡기요,15,***,***********,슈퍼히어로옥길범박,4000,400,0,300,28000,카드,2021-11-18 19:58:32,2021-11-18 20:00:02,2021-11-18 20:06:25,2021-11-18 20:14:09,2021-11-18 20:16:53,2021-11-18 20:01:20,NaN
110285,20211229,슈퍼히어로옥길범박,[히어로]박가네해물찜&아구찜,5,호반,부천시 옥길동 780-1베르디움 109동 호반,슈퍼히어로옥길범박,4000,0,0,400,46000,선불,2021-12-29 19:57:47,2021-12-29 20:08:59,2021-12-29 20:09:01,2021-12-29 20:15:16,2021-12-29 20:17:45,2021-12-29 20:05:38,NaN

In [16]:
df[(df['취소'].isna()) & (df['취소사유'].notnull())]

Empty DataFrame
Columns: [업무일자, 접수회사, 상점, 요청, 도착지명, 도착지주소, 기사소속회사, 배달요금, 부가세, 요금지원, 콜수수료, 상품금액, 결제방법, 접수, 요청.1, 배차, 픽업, 완료, 취소, 취소사유]
Index: []

In [17]:
len(df[(df['취소'].notnull()) & (df['취소사유'].isna())])

1587

In [18]:
len(df[(df['취소'].notnull()) & (df['취소사유'].notnull())])

573

In [19]:
df.describe()

,업무일자,배달요금,부가세,요금지원,콜수수료,상품금액
count,1.122490e+05,112249.000000,112249.000000,112249.000000,112249.000000,112249.000000
mean,2.021095e+07,4155.466864,375.150781,0.328733,340.665841,25148.645609
std,1.746544e+02,800.339510,147.748783,22.887138,69.702029,15287.008760
min,2.021070e+07,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.021081e+07,3500.000000,350.000000,0.000000,300.000000,16500.000000
50%,2.021092e+07,4000.000000,400.000000,0.000000,300.000000,21900.000000
75%,2.021111e+07,4500.000000,450.000000,0.000000,400.000000,30000.000000
max,2.021123e+07,40000.000000,4000.000000,4500.000000,500.000000,868000.000000

In [20]:
df.corr()

          업무일자      배달요금       부가세      요금지원      콜수수료      상품금액
업무일자  1.000000  0.262892  0.107944  0.008069  0.554959  0.032402
배달요금  0.262892  1.000000  0.564487 -0.006243  0.157163  0.222981
부가세   0.107944  0.564487  1.000000 -0.005053  0.065043  0.139721
요금지원  0.008069 -0.006243 -0.005053  1.000000 -0.007598  0.000289
콜수수료  0.554959  0.157163  0.065043 -0.007598  1.000000 -0.002459
상품금액  0.032402  0.222981  0.139721  0.000289 -0.002459  1.000000

In [43]:
from datetime import datetime
import math

def trans_second(list1, list2):
    second = []

    for li1, li2 in zip(list1, list2):
        if li1 is not None and li2 is not None:
            tmp = li1 - li2
            second.append(tmp.seconds)
    
    return [x for x in second if math.isnan(x) == False]

def trans_time(second):
    m = second // 60
    s = second % 60
    time = int(m), int(s)

    return time

second = trans_second(df['완료'], df['접수'])
print('최대배달시간', trans_time(max(second)))
print('최소배달시간', trans_time(min(second)))
print('평균배달시간', trans_time(sum(second)/len(second)))

최대배달시간 (326, 55)
최소배달시간 (0, 8)
평균배달시간 (25, 2)

In [22]:
from matplotlib import pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

fm.get_fontconfig_fonts()
font_location = 'C:/Windows/Fonts/NGULIM.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

C:\Users\ethan\AppData\Local\Temp\ipykernel_21988\2961248716.py:5: MatplotlibDeprecationWarning:
The get_fontconfig_fonts function was deprecated in Matplotlib 3.5 and will be removed two minor releases later.
  fm.get_fontconfig_fonts()