In [53]:
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_excel(
    './delivery/21ë…„ 7ì›”_22ë…„ 6ì›” ìˆ˜ë„ê¶Œì œ2ë³¸ë¶€-1.xlsx',
    sheet_name = 4)
df.head()

,ì—…ë¬´ì¼ì,ì½œ ë²ˆí˜¸,Unnamed: 2,Unnamed: 3,ì½œ ìƒíƒœ,êµ¬ë¶„,ì ‘ìˆ˜íšŒì‚¬,ì „í™”ë²ˆí˜¸,ìƒì,ìš”ì²­,ì¶œë°œì§€ëª…,ì¶œë°œì§€ì£¼ì†Œ,ë„ì°©ì§€ëª…,ë„ì°©ì§€ì£¼ì†Œ,ë„ì°©ìƒì„¸,ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨),ë„ì°©ì§€ ì „í™”,ë“±ë¡ìëª…,ê¸°ì‚¬ì†Œì†íšŒì‚¬,ê¸°ì‚¬ëª…,ê¸°ì‚¬ì „í™”,ë‹¨ë§ê¸°ë²ˆí˜¸,ë°°ë‹¬ìš”ê¸ˆ,ë¶€ê°€ì„¸,ìš”ê¸ˆì§€ë¶ˆ,ìš”ê¸ˆì§€ì›,ì½œìˆ˜ìˆ˜ë£Œ,ìƒí’ˆê¸ˆì•¡,í˜„ê¸ˆìˆ˜ê¸ˆ,ê²°ì œë°©ë²•,ê²°ì œê²°ê³¼,ìŠ¹ì¸ë²ˆí˜¸,ë³´ë¥˜,ì˜ˆì•½,ì ‘ìˆ˜,ìš”ì²­.1,ë°°ì°¨,í”½ì—…,ì™„ë£Œ,ì·¨ì†Œ,ì‚¬ê³,ë¬¸ì˜,ì·¨ì†Œìëª…,ì·¨ì†Œì‚¬ìœ,ì™¸ë¶€ì—°ë™êµ¬ë¶„,ì™¸ë¶€ì—°ë™ë²ˆí˜¸
0,20210701,0856-1461,ë°°ë‹¬,O_API,ì™„ë£Œ,NaN,ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,032-351-1117,[ë²”ë°•]ê·¸ë˜ê·¸ë˜ í”¼ì&ë–¡ë³¶ì´,10,[ë²”ë°•]ğŸŒˆ ê·¸ë˜ê·¸ë˜ í”¼ì&ë–¡ë³¶ì´,ê²½ê¸° ë¶€ì²œì‹œ ë²”ë°•ë™ 155-2 í˜„ëŒ€ë¦¬ì¹˜ëª¨ì•„,ë¶€ì²œì‹œ ë²”ë°•ë™ 150-2,ë¶€ì²œì‹œ ë²”ë°•ë™ 150-2,ë¶€ì²œë²”ë°•íìŠ¤í…Œì´íŠ¸ 6ë‹¨ì§€ 606-2203,ê³ ê°ìš”ì²­ì‚¬í•­: ë¦¬ë·°ì´ë²¤íŠ¸ ì¹˜ì¦ˆì˜¤ë¸ìŠ¤íŒŒê²Œí‹°í• ê²Œìš”! (ìˆ˜ì €í¬í¬ X) / #606#220...,0503-7368-2118,[í—¬ë¡œì›”ë“œ],ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,[íˆì–´ë¡œ]ë°•ê±´,010-2434-8958,010-2434-8958,3500,350,ìºì‰¬,0,300,21900,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2021-07-01 23:46:53,2021-07-01 23:47:01,2021-07-01 23:47:02,2021-07-02 00:06:36,2021-07-02 00:14:43,NaT,NaN,NaN,NaN,NaN,0F9A246688,130579385
1,20210701,0854-2211,ë°°ë‹¬,NaN,ì™„ë£Œ,NaN,ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,032-345-5938,[íˆì–´ë¡œ]59ìŒ€í”¼ì,10,[ì˜¥ê¸¸]ì˜¤êµ¬ìŒ€í”¼ì,ê²½ê¸° ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 744-2,ì„¼íŠ¸ë¦¬ë·°,ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 771-1 ë¶€ì²œì˜¥ê¸¸ì„¼íŠ¸ë¦¬ë·°ì•„íŒŒíŠ¸ ì „ê¸°ì°¨ì¶©ì „ì†Œ,702-1502í˜¸,NaN,010-3009-1539,[ìƒì ì§ì ‘],ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,[íˆì–´ë¡œ]ì´ìŠ¹ë¯¼,010-4137-8498,010-4137-8498,3500,0,ìºì‰¬,0,300,26000,NaN,ì¹´ë“œ,ì „ì²´ì™„ë£Œ,ìŠ¹ì¸:ì‹ í•œì¹´ë“œ (35534604),NaN,NaT,2021-07-01 23:43:41,2021-07-01 23:43:48,2021-07-01 23:48:30,2021-07-01 23:49:48,2021-07-01 23:54:25,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,20210701,0845-0121,ë°°ë‹¬,í‘¸ë“œí…Œí¬,ì™„ë£Œ,NaN,ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,032-343-9294,[íˆì–´ë¡œ]êµ½ë„¤ì¹˜í‚¨ì˜¥ê¸¸ì,10,[ì˜¥ê¸¸]êµ½ë„¤ì¹˜í‚¨,ê²½ê¸° ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 776-1 ë¶€ì²œì˜¥ê¸¸ìì´,ì˜¥ê¸¸ë™ 739-1,ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 739-1,ì œì´ë“œì¹´ìš´í‹°2ë‹¨ì§€ 206ë™ 1401í˜¸,"[ì„ ê²°ì œì™„ë£Œ]ì¼íšŒìš© ìˆ˜ì €, í¬í¬ X ì´ë²¤íŠ¸ ì°¸ì—¬- ì½œë¼ì‚¬ì´ì¦ˆì—… ìš”ê¸°ìš”ì½œì„¼í„°: 166...",0504-4735-1039,[í‘¸ë“œí…Œí¬],ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,[íˆì–´ë¡œ]ì´ìŠ¹ë¯¼,010-4137-8498,010-4137-8498,3500,350,ìºì‰¬,0,300,17000,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2021-07-01 23:28:20,2021-07-01 23:28:27,2021-07-01 23:28:30,2021-07-01 23:41:05,2021-07-01 23:41:08,NaT,NaN,NaN,NaN,NaN,FoodTech,ft140269805
3,20210701,0841-7616,ë°°ë‹¬,O_API,ì™„ë£Œ,NaN,ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,032-348-5379,[íˆì–´ë¡œ]ì›í• ë¨¸ë‹ˆë³´ìŒˆ,10,[ì˜¥ê¸¸]ì›í• ë¨¸ë‹ˆë³´ìŒˆ,ê²½ê¸° ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 705-1,ë¶€ì²œì‹œ ì†Œì‚¬ë³¸ë™ 133-12,ë¶€ì²œì‹œ ì†Œì‚¬ë³¸ë™ 133-12,ë¶€ì²œì†Œì‚¬ì—­ í‘¸ë¥´ì§€ì˜¤ ë¶€ì²œì†Œì‚¬ì—­í‘¸ë¥´ì§€ì˜¤ì•„íŒŒíŠ¸ 105ë™ 202í˜¸,ê³ ê°ìš”ì²­ì‚¬í•­: (ìˆ˜ì €í¬í¬ X) / ì¡°ì‹¬íˆ ì•ˆì „í•˜ê²Œ ì™€ì£¼ì„¸ìš” :),010-9519-5109,[í—¬ë¡œì›”ë“œ],ë¶€ì²œ ëŸ¬ì‰¬,ë³€ì¬í™”(Rushì—­ê³¡),010-4999-0226,010-4999-0226,4500,450,ìºì‰¬,0,300,54000,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2021-07-01 23:22:55,2021-07-01 23:23:24,2021-07-01 23:23:25,2021-07-01 23:26:14,2021-07-01 23:37:00,NaT,NaN,NaN,NaN,NaN,0F9A246688,130576038
4,20210701,0837-7181,ë°°ë‹¬,í‘¸ë“œí…Œí¬,ì™„ë£Œ,NaN,ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,032-343-9294,[íˆì–´ë¡œ]êµ½ë„¤ì¹˜í‚¨ì˜¥ê¸¸ì,10,[ì˜¥ê¸¸]êµ½ë„¤ì¹˜í‚¨,ê²½ê¸° ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 776-1 ë¶€ì²œì˜¥ê¸¸ìì´,ì˜¥ê¸¸ë™ 780-1,ë¶€ì²œì‹œ ì˜¥ê¸¸ë™ 780-1,104-501,[ì„ ê²°ì œì™„ë£Œ](ìˆ˜ì €í¬í¬ X) (ë°°ë‹¬ìš”ì²­)ì¡°ì‹¬íˆ ì•ˆì „í•˜ê²Œ ì™€ì£¼ì„¸ìš” :),0503-7384-2898,[í‘¸ë“œí…Œí¬],ìŠˆí¼íˆì–´ë¡œì˜¥ê¸¸ë²”ë°•,[íˆì–´ë¡œ]ë°•ê±´,010-2434-8958,010-2434-8958,3500,350,ìºì‰¬,0,300,24400,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2021-07-01 23:16:10,2021-07-01 23:16:16,2021-07-01 23:16:22,2021-07-01 23:28:31,2021-07-01 23:30:19,NaT,NaN,NaN,NaN,NaN,FoodTech,ft140267160

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112249 entries, 0 to 112248
Data columns (total 46 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ì—…ë¬´ì¼ì        112249 non-null  int64
 1   ì½œ ë²ˆí˜¸        112249 non-null  object
 2   Unnamed: 2  112249 non-null  object
 3   Unnamed: 3  104731 non-null  object
 4   ì½œ ìƒíƒœ        112249 non-null  object
 5   êµ¬ë¶„          0 non-null       float64
 6   ì ‘ìˆ˜íšŒì‚¬        112249 non-null  object
 7   ì „í™”ë²ˆí˜¸        112249 non-null  object
 8   ìƒì           112249 non-null  object
 9   ìš”ì²­          112249 non-null  object
 10  ì¶œë°œì§€ëª…        112245 non-null  object
 11  ì¶œë°œì§€ì£¼ì†Œ       112249 non-null  object
 12  ë„ì°©ì§€ëª…        112237 non-null  object
 13  ë„ì°©ì§€ì£¼ì†Œ       112239 non-null  object
 14  ë„ì°©ìƒì„¸        111559 non-null  object
 15  ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨)  104403 non-null  object
 16  ë„ì°©ì§€ ì „í™”      111130 non-null  object
 17  ë“±ë¡ìëª…        112249 non-null  object
 18  ê¸°ì‚¬ì†Œì†íšŒì‚¬      110479 non-null  object
 19  ê¸°ì‚¬ëª…         110479 non-null  object
 20  ê¸°ì‚¬ì „í™”        110479 non-null  object
 21  ë‹¨ë§ê¸°ë²ˆí˜¸       110479 non-null  object
 22  ë°°ë‹¬ìš”ê¸ˆ        112249 non-null  int64
 23  ë¶€ê°€ì„¸         112249 non-null  int64
 24  ìš”ê¸ˆì§€ë¶ˆ        112249 non-null  object
 25  ìš”ê¸ˆì§€ì›        112249 non-null  int64
 26  ì½œìˆ˜ìˆ˜ë£Œ        112249 non-null  int64
 27  ìƒí’ˆê¸ˆì•¡        112249 non-null  int64
 28  í˜„ê¸ˆìˆ˜ê¸ˆ        9159 non-null    object
 29  ê²°ì œë°©ë²•        112249 non-null  object
 30  ê²°ì œê²°ê³¼        17744 non-null   object
 31  ìŠ¹ì¸ë²ˆí˜¸        17351 non-null   object
 32  ë³´ë¥˜          0 non-null       float64
 33  ì˜ˆì•½          74 non-null      datetime64[ns]
 34  ì ‘ìˆ˜          111653 non-null  datetime64[ns]
 35  ìš”ì²­.1        108689 non-null  datetime64[ns]
 36  ë°°ì°¨          110512 non-null  datetime64[ns]
 37  í”½ì—…          110093 non-null  datetime64[ns]
 38  ì™„ë£Œ          110118 non-null  datetime64[ns]
 39  ì·¨ì†Œ          2160 non-null    datetime64[ns]
 40  ì‚¬ê³           0 non-null       float64
 41  ë¬¸ì˜          0 non-null       float64
 42  ì·¨ì†Œìëª…        2141 non-null    object
 43  ì·¨ì†Œì‚¬ìœ         573 non-null     object
 44  ì™¸ë¶€ì—°ë™êµ¬ë¶„      104731 non-null  object
 45  ì™¸ë¶€ì—°ë™ë²ˆí˜¸      96596 non-null   object
dtypes: datetime64[ns](7), float64(4), int64(6), object(29)
memory usage: 39.4+ MB

In [55]:
df.isna().sum()

ì—…ë¬´ì¼ì               0
ì½œ ë²ˆí˜¸               0
Unnamed: 2         0
Unnamed: 3      7518
ì½œ ìƒíƒœ               0
êµ¬ë¶„            112249
ì ‘ìˆ˜íšŒì‚¬               0
ì „í™”ë²ˆí˜¸               0
ìƒì                  0
ìš”ì²­                 0
ì¶œë°œì§€ëª…               4
ì¶œë°œì§€ì£¼ì†Œ              0
ë„ì°©ì§€ëª…              12
ë„ì°©ì§€ì£¼ì†Œ             10
ë„ì°©ìƒì„¸             690
ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨)      7846
ë„ì°©ì§€ ì „í™”          1119
ë“±ë¡ìëª…               0
ê¸°ì‚¬ì†Œì†íšŒì‚¬          1770
ê¸°ì‚¬ëª…             1770
ê¸°ì‚¬ì „í™”            1770
ë‹¨ë§ê¸°ë²ˆí˜¸           1770
ë°°ë‹¬ìš”ê¸ˆ               0
ë¶€ê°€ì„¸                0
ìš”ê¸ˆì§€ë¶ˆ               0
ìš”ê¸ˆì§€ì›               0
ì½œìˆ˜ìˆ˜ë£Œ               0
ìƒí’ˆê¸ˆì•¡               0
í˜„ê¸ˆìˆ˜ê¸ˆ          103090
ê²°ì œë°©ë²•               0
ê²°ì œê²°ê³¼           94505
ìŠ¹ì¸ë²ˆí˜¸           94898
ë³´ë¥˜            112249
ì˜ˆì•½            112175
ì ‘ìˆ˜               596
ìš”ì²­.1            3560
ë°°ì°¨              1737
í”½ì—…              2156
ì™„ë£Œ              2131
ì·¨ì†Œ            110089
ì‚¬ê³             112249
ë¬¸ì˜            112249
ì·¨ì†Œìëª…          110108
ì·¨ì†Œì‚¬ìœ           111676
ì™¸ë¶€ì—°ë™êµ¬ë¶„          7518
ì™¸ë¶€ì—°ë™ë²ˆí˜¸         15653
dtype: int64

In [69]:
df.describe()

,ì—…ë¬´ì¼ì,êµ¬ë¶„,ë°°ë‹¬ìš”ê¸ˆ,ë¶€ê°€ì„¸,ìš”ê¸ˆì§€ì›,ì½œìˆ˜ìˆ˜ë£Œ,ìƒí’ˆê¸ˆì•¡,ë³´ë¥˜,ì‚¬ê³,ë¬¸ì˜
count,1.122490e+05,0.0,112249.000000,112249.000000,112249.000000,112249.000000,112249.000000,0.0,0.0,0.0
mean,2.021095e+07,NaN,4155.466864,375.150781,0.328733,340.665841,25148.645609,NaN,NaN,NaN
std,1.746544e+02,NaN,800.339510,147.748783,22.887138,69.702029,15287.008760,NaN,NaN,NaN
min,2.021070e+07,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,2.021081e+07,NaN,3500.000000,350.000000,0.000000,300.000000,16500.000000,NaN,NaN,NaN
50%,2.021092e+07,NaN,4000.000000,400.000000,0.000000,300.000000,21900.000000,NaN,NaN,NaN
75%,2.021111e+07,NaN,4500.000000,450.000000,0.000000,400.000000,30000.000000,NaN,NaN,NaN
max,2.021123e+07,NaN,40000.000000,4000.000000,4500.000000,500.000000,868000.000000,NaN,NaN,NaN

In [70]:
df.corr()

,ì—…ë¬´ì¼ì,êµ¬ë¶„,ë°°ë‹¬ìš”ê¸ˆ,ë¶€ê°€ì„¸,ìš”ê¸ˆì§€ì›,ì½œìˆ˜ìˆ˜ë£Œ,ìƒí’ˆê¸ˆì•¡,ë³´ë¥˜,ì‚¬ê³,ë¬¸ì˜
ì—…ë¬´ì¼ì,1.000000,NaN,0.262892,0.107944,0.008069,0.554959,0.032402,NaN,NaN,NaN
êµ¬ë¶„,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ë°°ë‹¬ìš”ê¸ˆ,0.262892,NaN,1.000000,0.564487,-0.006243,0.157163,0.222981,NaN,NaN,NaN
ë¶€ê°€ì„¸,0.107944,NaN,0.564487,1.000000,-0.005053,0.065043,0.139721,NaN,NaN,NaN
ìš”ê¸ˆì§€ì›,0.008069,NaN,-0.006243,-0.005053,1.000000,-0.007598,0.000289,NaN,NaN,NaN
ì½œìˆ˜ìˆ˜ë£Œ,0.554959,NaN,0.157163,0.065043,-0.007598,1.000000,-0.002459,NaN,NaN,NaN
ìƒí’ˆê¸ˆì•¡,0.032402,NaN,0.222981,0.139721,0.000289,-0.002459,1.000000,NaN,NaN,NaN
ë³´ë¥˜,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì‚¬ê³,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ë¬¸ì˜,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
from datetime import datetime
import math

def trans_second(list1, list2):
    second = []

    for li1, li2 in zip(list1, list2):
        if li1 is not None and li2 is not None:
            tmp = li1 - li2
            second.append(tmp.seconds)
    
    return [x for x in second if math.isnan(x) == False]

def trans_time(second):
    m = second // 60
    s = second % 60
    time = int(m), int(s)

    return time

second = trans_second(df['ì™„ë£Œ'], df['í”½ì—…'])
print('ìµœëŒ€ë°°ë‹¬ì‹œê°„', trans_time(max(second)))
print('ìµœì†Œë°°ë‹¬ì‹œê°„', trans_time(min(second)))
print('í‰ê· ë°°ë‹¬ì‹œê°„', trans_time(sum(second)/len(second)))

ìµœëŒ€ë°°ë‹¬ì‹œê°„ (345, 28)
ìµœì†Œë°°ë‹¬ì‹œê°„ (0, 0)
í‰ê· ë°°ë‹¬ì‹œê°„ (10, 11)

In [72]:
df = pd.read_excel(
    './delivery/20ë…„ 7ì›”_ 21ë…„ 6ì›” ìˆ˜ë„ê¶Œì œ2ë³¸ë¶€.xlsx')
df.head()

,ì—…ë¬´ì¼ì,ì½œ ë²ˆí˜¸,Unnamed: 2,Unnamed: 3,ì½œ ìƒíƒœ,êµ¬ë¶„,ì ‘ìˆ˜íšŒì‚¬,ì „í™”ë²ˆí˜¸,ìƒì,ìš”ì²­,ì¶œë°œì§€ëª…,ì¶œë°œì§€ì£¼ì†Œ,ë„ì°©ì§€ëª…,ë„ì°©ì§€ì£¼ì†Œ,ë„ì°©ìƒì„¸,ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨),ë„ì°©ì§€ ì „í™”,ë“±ë¡ìëª…,ê¸°ì‚¬ì†Œì†íšŒì‚¬,ê¸°ì‚¬ëª…,ê¸°ì‚¬ì „í™”,ë‹¨ë§ê¸°ë²ˆí˜¸,ë°°ë‹¬ìš”ê¸ˆ,ë¶€ê°€ì„¸,ìš”ê¸ˆì§€ë¶ˆ,ìš”ê¸ˆì§€ì›,ì½œìˆ˜ìˆ˜ë£Œ,ìƒí’ˆê¸ˆì•¡,í˜„ê¸ˆìˆ˜ê¸ˆ,ê²°ì œë°©ë²•,ê²°ì œê²°ê³¼,ìŠ¹ì¸ë²ˆí˜¸,ë³´ë¥˜,ì˜ˆì•½,ì ‘ìˆ˜,ìš”ì²­.1,ë°°ì°¨,í”½ì—…,ì™„ë£Œ,ì·¨ì†Œ,ì‚¬ê³,ë¬¸ì˜,ì·¨ì†Œìëª…,ì·¨ì†Œì‚¬ìœ,ì™¸ë¶€ì—°ë™êµ¬ë¶„,ì™¸ë¶€ì—°ë™ë²ˆí˜¸
0,20200701,0863-5573,ë°°ë‹¬,ë°°ë¯¼,ì™„ë£Œ,NaN,êµ¬ë¡œA(TNB),02-2060-9253,â¤(ê°œë´‰)ì²˜ê°“ì§‘ì–‘ë…ì¹˜í‚¨ ê°œë´‰ì,15,â¤(ê°œë´‰1ë™)ì²˜ê°“ì§‘,ì„œìš¸ êµ¬ë¡œêµ¬ ê°œë´‰ë™ 115-28,***,***********,***********,***********,***-****-****,[ìƒì ì§ì ‘],êµ¬ë¡œA(TNB),ã€TNB-Bã€‘ì´ì¢…í—Œ,010-9356-6592,010-9356-6592,3900,0,ìºì‰¬,0,300,23000,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2020-07-01 23:59:14,2020-07-02 00:01:53,2020-07-02 00:01:59,2020-07-02 00:16:32,2020-07-02 00:21:44,NaT,NaN,NaN,NaN,NaN,Baemin,B0PC01ACUA
1,20200701,0863-0765,ë°°ë‹¬,NaN,ì™„ë£Œ,NaN,êµ¬ë¡œA(TNB),02-2066-1126,(ì˜¤ë¥˜)ì§€ì½”ë°”ì¹˜í‚¨,10,(ì˜¤ë¥˜)ì§€ì½”ë°”ì¹˜í‚¨ / ë°°8,ì„œìš¸ êµ¬ë¡œêµ¬ ì˜¤ë¥˜ë™ 135-10,ê³ ì²™ë™ 345,ê³ ì²™ë™ 345 ì¡°ì–‘íœ´ìºìŠ¬,106-501,ë¬¸ ì•ì— ë†“ê³ ì „í™”ì£¼ì„¸ìš”!,0504-4739-4774,[ìƒì ì§ì ‘],êµ¬ë¡œA(TNB),ã€TNB-Aã€‘ê¹€ë™í™˜,010-9956-8710,010-9956-8710,4200,420,ìºì‰¬,0,300,0,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2020-07-01 23:58:26,2020-07-02 00:00:53,2020-07-02 00:00:55,2020-07-02 00:11:51,2020-07-02 00:17:09,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,20200701,0860-9820,ë°°ë‹¬,ë°°ë¯¼,ì™„ë£Œ,NaN,êµ¬ë¡œA(TNB),02-2604-8852,â¤(ê°œë´‰1ë™)í•˜ìš°ëˆê³±ì°½,20,â¤(ê°œë´‰1ë™)í•˜ìš°ëˆê³±ì°½,ì„œìš¸ êµ¬ë¡œêµ¬ ê°œë´‰ë™ 33-32 í•˜ìš°ëˆê³±ì°½ ê°œë´‰ì,***,***********,***********,***********,***-****-****,[ìƒì ì§ì ‘],êµ¬ë¡œA(TNB),ã€TNB-Bã€‘êµ¬ìˆ˜ê´€,0105-0551-2781,0105-0551-2781,6100,0,ìºì‰¬,0,300,44000,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2020-07-01 23:54:57,2020-07-01 23:55:18,2020-07-01 23:55:30,2020-07-02 00:11:56,2020-07-02 00:20:10,NaT,NaN,NaN,NaN,NaN,Baemin,B0PC01A93X
3,20200701,0859-4893,ë°°ë‹¬,ë°°ë¯¼,ì™„ë£Œ,NaN,êµ¬ë¡œA(TNB),010-3234-0762,(ê³ ì²™)ì˜¤ë³µë‹­ê¼¬ì¹˜/ë² ë©”,10,(ê³ ì²™)ì˜¤ë³µë‹­ê¼¬ì¹˜/ë² ë©”,ì„œìš¸ êµ¬ë¡œêµ¬ ê³ ì²™ë™ 53-2,***,***********,***********,***********,***-****-****,[ìƒì ì§ì ‘],êµ¬ë¡œA(TNB),ã€TNB-Aã€‘ë°•ì„±í›ˆ,010-5652-2945,010-5652-2945,3300,0,ìºì‰¬,0,300,14500,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2020-07-01 23:52:27,2020-07-01 23:55:30,2020-07-02 00:03:35,2020-07-02 00:07:12,2020-07-02 00:13:44,NaT,NaN,NaN,NaN,NaN,Baemin,B0PC01A9AQ
4,20200701,0859-3790,ë°°ë‹¬,ë°°ë¯¼,ì™„ë£Œ,NaN,êµ¬ë¡œA(TNB),02-2612-9212,(ì˜¤ë¥˜)ìœ¡ê°ë§Œì¡± ì˜¤ë¥˜ì—­ì,15,(ì˜¤ë¥˜)ìœ¡ê°ë§Œì¡±,ì„œìš¸ êµ¬ë¡œêµ¬ ì˜¤ë¥˜ë™ 135-69,***,***********,***********,***********,***-****-****,[ìƒì ì§ì ‘],êµ¬ë¡œA(TNB),ã€TNB-Bã€‘ì´ì¢…í—Œ,010-9356-6592,010-9356-6592,3300,0,ìºì‰¬,0,300,37000,NaN,ì„ ë¶ˆ,NaN,NaN,NaN,NaT,2020-07-01 23:52:16,2020-07-01 23:52:30,2020-07-01 23:52:32,2020-07-02 00:09:56,2020-07-02 00:13:15,NaT,NaN,NaN,NaN,NaN,Baemin,B0PC01AAAJ

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350568 entries, 0 to 350567
Data columns (total 46 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ì—…ë¬´ì¼ì        350568 non-null  int64
 1   ì½œ ë²ˆí˜¸        350568 non-null  object
 2   Unnamed: 2  350568 non-null  object
 3   Unnamed: 3  283073 non-null  object
 4   ì½œ ìƒíƒœ        350568 non-null  object
 5   êµ¬ë¶„          0 non-null       float64
 6   ì ‘ìˆ˜íšŒì‚¬        350568 non-null  object
 7   ì „í™”ë²ˆí˜¸        350568 non-null  object
 8   ìƒì           350568 non-null  object
 9   ìš”ì²­          350568 non-null  object
 10  ì¶œë°œì§€ëª…        350388 non-null  object
 11  ì¶œë°œì§€ì£¼ì†Œ       350396 non-null  object
 12  ë„ì°©ì§€ëª…        350002 non-null  object
 13  ë„ì°©ì§€ì£¼ì†Œ       350242 non-null  object
 14  ë„ì°©ìƒì„¸        347561 non-null  object
 15  ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨)  280436 non-null  object
 16  ë„ì°©ì§€ ì „í™”      340115 non-null  object
 17  ë“±ë¡ìëª…        350568 non-null  object
 18  ê¸°ì‚¬ì†Œì†íšŒì‚¬      346197 non-null  object
 19  ê¸°ì‚¬ëª…         346197 non-null  object
 20  ê¸°ì‚¬ì „í™”        346195 non-null  object
 21  ë‹¨ë§ê¸°ë²ˆí˜¸       346195 non-null  object
 22  ë°°ë‹¬ìš”ê¸ˆ        350568 non-null  int64
 23  ë¶€ê°€ì„¸         350568 non-null  int64
 24  ìš”ê¸ˆì§€ë¶ˆ        350568 non-null  object
 25  ìš”ê¸ˆì§€ì›        350568 non-null  int64
 26  ì½œìˆ˜ìˆ˜ë£Œ        350568 non-null  int64
 27  ìƒí’ˆê¸ˆì•¡        350568 non-null  int64
 28  í˜„ê¸ˆìˆ˜ê¸ˆ        80564 non-null   object
 29  ê²°ì œë°©ë²•        350568 non-null  object
 30  ê²°ì œê²°ê³¼        61024 non-null   object
 31  ìŠ¹ì¸ë²ˆí˜¸        59727 non-null   object
 32  ë³´ë¥˜          0 non-null       float64
 33  ì˜ˆì•½          224 non-null     datetime64[ns]
 34  ì ‘ìˆ˜          350425 non-null  datetime64[ns]
 35  ìš”ì²­.1        335000 non-null  datetime64[ns]
 36  ë°°ì°¨          346340 non-null  datetime64[ns]
 37  í”½ì—…          344841 non-null  datetime64[ns]
 38  ì™„ë£Œ          344926 non-null  datetime64[ns]
 39  ì·¨ì†Œ          5745 non-null    datetime64[ns]
 40  ì‚¬ê³           0 non-null       float64
 41  ë¬¸ì˜          0 non-null       float64
 42  ì·¨ì†Œìëª…        5697 non-null    object
 43  ì·¨ì†Œì‚¬ìœ         579 non-null     object
 44  ì™¸ë¶€ì—°ë™êµ¬ë¶„      283073 non-null  object
 45  ì™¸ë¶€ì—°ë™ë²ˆí˜¸      258905 non-null  object
dtypes: datetime64[ns](7), float64(4), int64(6), object(29)
memory usage: 123.0+ MB

In [74]:
df.isna().sum()

ì—…ë¬´ì¼ì               0
ì½œ ë²ˆí˜¸               0
Unnamed: 2         0
Unnamed: 3     67495
ì½œ ìƒíƒœ               0
êµ¬ë¶„            350568
ì ‘ìˆ˜íšŒì‚¬               0
ì „í™”ë²ˆí˜¸               0
ìƒì                  0
ìš”ì²­                 0
ì¶œë°œì§€ëª…             180
ì¶œë°œì§€ì£¼ì†Œ            172
ë„ì°©ì§€ëª…             566
ë„ì°©ì§€ì£¼ì†Œ            326
ë„ì°©ìƒì„¸            3007
ìš”ì²­ì‚¬í•­(ë°°ì†¡ë©”ëª¨)     70132
ë„ì°©ì§€ ì „í™”         10453
ë“±ë¡ìëª…               0
ê¸°ì‚¬ì†Œì†íšŒì‚¬          4371
ê¸°ì‚¬ëª…             4371
ê¸°ì‚¬ì „í™”            4373
ë‹¨ë§ê¸°ë²ˆí˜¸           4373
ë°°ë‹¬ìš”ê¸ˆ               0
ë¶€ê°€ì„¸                0
ìš”ê¸ˆì§€ë¶ˆ               0
ìš”ê¸ˆì§€ì›               0
ì½œìˆ˜ìˆ˜ë£Œ               0
ìƒí’ˆê¸ˆì•¡               0
í˜„ê¸ˆìˆ˜ê¸ˆ          270004
ê²°ì œë°©ë²•               0
ê²°ì œê²°ê³¼          289544
ìŠ¹ì¸ë²ˆí˜¸          290841
ë³´ë¥˜            350568
ì˜ˆì•½            350344
ì ‘ìˆ˜               143
ìš”ì²­.1           15568
ë°°ì°¨              4228
í”½ì—…              5727
ì™„ë£Œ              5642
ì·¨ì†Œ            344823
ì‚¬ê³             350568
ë¬¸ì˜            350568
ì·¨ì†Œìëª…          344871
ì·¨ì†Œì‚¬ìœ           349989
ì™¸ë¶€ì—°ë™êµ¬ë¶„         67495
ì™¸ë¶€ì—°ë™ë²ˆí˜¸         91663
dtype: int64

In [96]:
df.describe()

,ì—…ë¬´ì¼ì,êµ¬ë¶„,ë°°ë‹¬ìš”ê¸ˆ,ë¶€ê°€ì„¸,ìš”ê¸ˆì§€ì›,ì½œìˆ˜ìˆ˜ë£Œ,ìƒí’ˆê¸ˆì•¡,ë³´ë¥˜,ì‚¬ê³,ë¬¸ì˜
count,3.505680e+05,0.0,350568.000000,350568.00000,350568.0,350568.000000,3.505680e+05,0.0,0.0,0.0
mean,2.020194e+07,NaN,3753.590744,218.99195,0.0,315.126309,2.159374e+04,NaN,NaN,NaN
std,2.856011e+03,NaN,630.331472,190.18793,0.0,65.468378,2.143069e+04,NaN,NaN,NaN
min,2.020070e+07,NaN,0.000000,0.00000,0.0,0.000000,-1.016020e+05,NaN,NaN,NaN
25%,2.020082e+07,NaN,3300.000000,0.00000,0.0,300.000000,1.560000e+04,NaN,NaN,NaN
50%,2.020100e+07,NaN,3500.000000,330.00000,0.0,300.000000,2.040000e+04,NaN,NaN,NaN
75%,2.020121e+07,NaN,4000.000000,370.00000,0.0,300.000000,2.600000e+04,NaN,NaN,NaN
max,2.021063e+07,NaN,55000.000000,5500.00000,0.0,500.000000,9.999999e+06,NaN,NaN,NaN

In [90]:
df.corr()

          ì—…ë¬´ì¼ì  êµ¬ë¶„      ë°°ë‹¬ìš”ê¸ˆ       ë¶€ê°€ì„¸  ìš”ê¸ˆì§€ì›      ì½œìˆ˜ìˆ˜ë£Œ      ìƒí’ˆê¸ˆì•¡  ë³´ë¥˜  ì‚¬ê³   ë¬¸ì˜
ì—…ë¬´ì¼ì  1.000000 NaN  0.023100  0.074508   NaN -0.130950 -0.003767 NaN NaN NaN
êµ¬ë¶„         NaN NaN       NaN       NaN   NaN       NaN       NaN NaN NaN NaN
ë°°ë‹¬ìš”ê¸ˆ  0.023100 NaN  1.000000  0.160843   NaN  0.192931  0.075184 NaN NaN NaN
ë¶€ê°€ì„¸   0.074508 NaN  0.160843  1.000000   NaN  0.037239 -0.047834 NaN NaN NaN
ìš”ê¸ˆì§€ì›       NaN NaN       NaN       NaN   NaN       NaN       NaN NaN NaN NaN
ì½œìˆ˜ìˆ˜ë£Œ -0.130950 NaN  0.192931  0.037239   NaN  1.000000 -0.003129 NaN NaN NaN
ìƒí’ˆê¸ˆì•¡ -0.003767 NaN  0.075184 -0.047834   NaN -0.003129  1.000000 NaN NaN NaN
ë³´ë¥˜         NaN NaN       NaN       NaN   NaN       NaN       NaN NaN NaN NaN
ì‚¬ê³          NaN NaN       NaN       NaN   NaN       NaN       NaN NaN NaN NaN
ë¬¸ì˜         NaN NaN       NaN       NaN   NaN       NaN       NaN NaN NaN NaN

In [91]:
second = trans_second(df['ì™„ë£Œ'], df['í”½ì—…'])
print('ìµœëŒ€ë°°ë‹¬ì‹œê°„', trans_time(max(second)))
print('ìµœì†Œë°°ë‹¬ì‹œê°„', trans_time(min(second)))
print('í‰ê· ë°°ë‹¬ì‹œê°„', trans_time(sum(second)/len(second)))

ìµœëŒ€ë°°ë‹¬ì‹œê°„ (1405, 17)
ìµœì†Œë°°ë‹¬ì‹œê°„ (0, 0)
í‰ê· ë°°ë‹¬ì‹œê°„ (9, 0)