In [2]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

jan = pd.read_csv('./CALL_NDELIVERY_01MONTH.csv')
feb = pd.read_csv('./CALL_NDELIVERY_02MONTH.csv')
mar = pd.read_csv('./CALL_NDELIVERY_03MONTH.csv')
apr = pd.read_csv('./CALL_NDELIVERY_04MONTH.csv')
may = pd.read_csv('./CALL_NDELIVERY_05MONTH.csv')
jun = pd.read_csv('./CALL_NDELIVERY_06MONTH.csv')
jul = pd.read_csv('./CALL_NDELIVERY_07MONTH.csv')
oug = pd.read_csv('./CALL_NDELIVERY_08MONTH.csv')
sep = pd.read_csv('./CALL_NDELIVERY_09MONTH.csv')
oct = pd.read_csv('./CALL_NDELIVERY_10MONTH.csv')
nov = pd.read_csv('./CALL_NDELIVERY_11MONTH.csv')
dec = pd.read_csv('./CALL_NDELIVERY_12MONTH.csv')
rn = pd.read_csv('./rn_강수량.csv', encoding='ansi')
fsum = pd.read_csv('./STCS_체감온도_여름.csv', encoding='ansi')
fwin = pd.read_csv('./STCS_체감온도_겨울.csv', encoding='ansi')
ta = pd.read_csv('./ta_온도.csv', encoding='ansi')

In [3]:
def dash_del(df, col):
    o = df[col]

    for i in range(len(o)):
        o[i] = int(o[i].replace('-', ''))
    
    df[col] = list(o)
    df = df.astype({col:'int'})
    
    return df

rn = rn.rename(columns={'날짜':'일자'})
ta = ta.rename(columns={'날짜':'일자'})
weather = [rn, fsum, fwin, ta]

for weather in weather:
    weather = dash_del(weather, '일자')

months = [nov, dec, jan, feb, mar, apr, may, jun, jul, oug, sep]
wnd = oct

for month in months:
    wnd = wnd.append(month)

In [4]:
wnd

             일자 요일  시간대           업종     시도   시군구     읍면동  통화건수
0      20181001  월    0  음식점-족발/보쌈전문  서울특별시   강동구      길동     5
1      20181001  월    0  음식점-족발/보쌈전문  서울특별시   광진구     광장동     5
2      20181001  월    0  음식점-족발/보쌈전문  서울특별시  동대문구     제기동     5
3      20181001  월    0  음식점-족발/보쌈전문  서울특별시   서초구     방배동     5
4      20181001  월    0  음식점-족발/보쌈전문  서울특별시   성동구   성수동2가     5
...         ... ..  ...          ...    ...   ...     ...   ...
90063  20190930  월   23           피자  서울특별시   서초구     양재동     5
90064  20190930  월   23           피자  서울특별시   성북구   동선동2가     5
90065  20190930  월   23           피자  서울특별시   송파구     가락동     5
90066  20190930  월   23           피자  서울특별시  영등포구  영등포동5가     5
90067  20190930  월   23           피자  서울특별시   중랑구     면목동     5

[1232579 rows x 8 columns]

In [5]:
wnd1 = pd.merge(wnd, rn, how='outer', on = '일자')
wnd2 = pd.merge(wnd1, fsum, how='outer', on = '일자')
wnd3 = pd.merge(wnd2, fwin, how='outer', on = '일자')
wnd4 = pd.merge(wnd3, ta, how='outer', on = '일자')

len(wnd4)

1232579

In [6]:
wnd4

,일자,요일,시간대,업종,시도,시군구,읍면동,통화건수,지점_x,강수량(mm),기온(°C)_x,습도(%rh),체감온도(°C)_x,기온(°C)_y,풍속(m/s),체감온도(°C)_y,지점_y,평균기온(℃),최저기온(℃),최고기온(℃)
0,20181001,월,0,음식점-족발/보쌈전문,서울특별시,강동구,길동,5,108,0.0,NaN,NaN,NaN,NaN,NaN,NaN,108,15.4,13.0,19.7
1,20181001,월,0,음식점-족발/보쌈전문,서울특별시,광진구,광장동,5,108,0.0,NaN,NaN,NaN,NaN,NaN,NaN,108,15.4,13.0,19.7
2,20181001,월,0,음식점-족발/보쌈전문,서울특별시,동대문구,제기동,5,108,0.0,NaN,NaN,NaN,NaN,NaN,NaN,108,15.4,13.0,19.7
3,20181001,월,0,음식점-족발/보쌈전문,서울특별시,서초구,방배동,5,108,0.0,NaN,NaN,NaN,NaN,NaN,NaN,108,15.4,13.0,19.7
4,20181001,월,0,음식점-족발/보쌈전문,서울특별시,성동구,성수동2가,5,108,0.0,NaN,NaN,NaN,NaN,NaN,NaN,108,15.4,13.0,19.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232574,20190930,월,23,피자,서울특별시,서초구,양재동,5,108,NaN,29.7,32.4,27.9,NaN,NaN,NaN,108,22.4,16.4,29.9
1232575,20190930,월,23,피자,서울특별시,성북구,동선동2가,5,108,NaN,29.7,32.4,27.9,NaN,NaN,NaN,108,22.4,16.4,29.9
1232576,20190930,월,23,피자,서울특별시,송파구,가락동,5,108,NaN,29.7,32.4,27.9,NaN,NaN,NaN,108,22.4,16.4,29.9
1232577,20190930,월,23,피자,서울특별시,영등포구,영등포동5가,5,108,NaN,29.7,32.4,27.9,NaN,NaN,NaN,108,22.4,16.4,29.9
1232578,20190930,월,23,피자,서울특별시,중랑구,면목동,5,108,NaN,29.7,32.4,27.9,NaN,NaN,NaN,108,22.4,16.4,29.9